<template>
    <div class=''>
        <p v-text="shipping.description"></p>
    </div>
</template>

<style></style>

<script>

    export default {
        props: ['shipping'],
        data() {
            return {}
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
