<template>
    <div class=''>
        <p v-text="shipping.description"></p>

        <el-form label-position="top" ref="form" class="np-shipping-form">

            <el-form-item label="Город">
                <el-autocomplete

                        class="input-city-select"
                        v-model="cityName"
                        valueKey="DescriptionRu"
                        :fetch-suggestions="querySearchCities"
                        placeholder="Please Input"
                        :trigger-on-focus="false"
                        @select="handleCitySelect"
                >
                </el-autocomplete>
            </el-form-item>

            <el-form-item label="Отделение">
                <el-autocomplete
                        class="input-warehouse-select"
                        v-model="warehouseName"
                        valueKey="DescriptionRu"
                        :fetch-suggestions="querySearchWarehouses"
                        placeholder="Please Input"
                        @select="handleWarehouseSelect"
                >
                </el-autocomplete>
            </el-form-item>

        </el-form>




    </div>
</template>

<style></style>

<script>

    //Helpers
    import NPDelivery from '../../../helpers/NovaPoshtaDelivery/NovaPoshtaDelivery';


    export default {
        props: ['shipping', 'form'],
        data() {
            return {
                cityName: '',
                warehouseName: '',
                np: new NPDelivery(this.shipping.meta.apiKey),
            }
        },
        methods: {
            querySearchCities(queryString, cb) {

                let filteredCities = this.np.getFilteredCities(queryString);

                cb(filteredCities);
            },
            querySearchWarehouses(queryString, cb){

                let filteredWarehouses = this.np.getFilteredWarehouses(queryString);

                cb(filteredWarehouses);

            },
            handleCitySelect(item){
                this.city = item;
                this.np.setCity(item);
                this.form.meta['city_name'] = item.DescriptionRu;
                this.form.meta['np_city_ref'] = item.Ref;
                this.warehouseName = '';
                this.cityName = item.DescriptionRu;
            },
            handleWarehouseSelect(item){
                this.np.setWarehouse(item);
                this.form.meta['warehouse_name'] = item.DescriptionRu;
                this.form.meta['np_warehouse_ref'] = item.Ref;
                this.warehouseName = item.DescriptionRu;
            }

        },
        computed: {
        },
        mounted() {
        },
        components: {}
    }
</script>
