<template>
    <div class="image-carousel">

        <h3 class="title" v-text="widget.title" v-show="widget.title"></h3>

        <component :is="widget.template" :widget="widget"></component>


    </div>
</template>

<script>

    //Components
    import Carousel from './templates/Carousel';
    import MasonryGallery from './templates/MasonryGallery';

    export default {
        props: ['widget'],
        data() {
            return {};
        },
        methods: {},
        computed: {
        },
        mounted() {
        },
        components: {
            Carousel,
            MasonryGallery,
        }
    }
</script>

<style scoped>


</style>