<template>
    <div class=''>
        description, placeholder, regexp rules
    </div>
</template>

<style></style>

<script>

    export default {
        props: ['modifier'],
        data() {
            return {}
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
