.category-page-content{
  .category-meta{
    margin-bottom: 20px;
  }
    .product-card{
      margin-bottom: 20px;
      .card-image{
        text-align: center;
        img {
          max-height: 250px;
        }
      }
    }


}