.checkout-page-content-holder{

  .checkout-summary{
    h6 {
      font-weight: 700;
    }
    .info-box, ul{
      padding: 10px 20px;
    }
    .cart-summary {
      padding-bottom: 10px;
    }
    .el-button{
      margin-top: 10px;
    }
  }

  .el-row{
    padding-bottom: 20px;
  }
  .el-card{
    margin-top: 20px;
  }
  .payment-description{
    margin-bottom: 10px;
  }
}