<template>

    <el-row :gutter="20">
        <h4 class="title is-4">Settings</h4>

        <el-tabs v-model="activeTabName">

            <el-tab-pane label="Home widgets" name="homeWidgets">
                <home-widgets :widgets-init="widgetsInit" > </home-widgets>
            </el-tab-pane>

            <el-tab-pane label="Shippings" name="shippings">
                <shippings> </shippings>
            </el-tab-pane>

            <el-tab-pane label="Payments" name="payments">
                <payments> </payments>
            </el-tab-pane>


        </el-tabs>

        <el-col >


        </el-col>

    </el-row>

</template>

<script>

    //Components
    import HomeWidgets from './tabs/homeWidgets/HomeWidgets';
    import Shippings from './tabs/shippings/Shippings';
    import Payments from './tabs/payments/Payments';
    export default {
        props: ['widgetsInit'],
        data() {
            return {
                widgets: [],

                activeTabName: 'homeWidgets',
            };
        },
        methods: {

        },
        computed: {

        },
        mounted(){
            this.widgets = this.widgetsInit;
        },
        components: {
            Shippings,
            Payments,
            HomeWidgets,
        }
    }
</script>

<style scoped>

</style>