<template>
    <div >

        <div class="box" v-for="payment in payments" :key="payment.id" >
            <el-tag v-text="payment.slug"></el-tag>
            <el-form>
                <el-form-item label="Title">
                    <el-input v-model="payment.name"></el-input>
                </el-form-item>

                <el-form-item label="Description">
                    <el-input type="textarea" v-model="payment.description"></el-input>
                </el-form-item>
            </el-form>

            <el-button type="success" :loading="form.busy" @click="updatePayment(payment)">update</el-button>
        </div>

    </div>
</template>

<script>

    //Helpers
    import Form from '../../../../../helpers/Form';

    export default {
        props: [],
        data() {
            return {
                form: new Form({}),
                payments: [],
            };
        },
        methods: {
            updatePayment(payment){
                this.form = new Form(payment);

                this.form.put(route('payments.update', {payment: payment}));
            }

        },
        computed: {},
        mounted() {
            axios.get(route('payments.index'))
                .then(res => {
                    this.payments = res.data;
                });
        },
        components: {}
    }
</script>

<style scoped>

</style>