<template>
    <div class=''>

        <el-form-item >

            <el-input-number v-model="form.config.min" placeholder="Min">

            </el-input-number>
        </el-form-item>

        <el-form-item>
            <el-input-number v-model="form.config.max" placeholder="Max" :min="form.config.min+1">

            </el-input-number>

        </el-form-item>

    </div>
</template>

<style></style>

<script>

    export default {
        props: ['form', 'product'],
        data() {
            return {}
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
