<template>
    <div>
        <component
                v-for="widget in widgets"
                :key="widget.id"
                :is="widget.type"
                :widget="widget">
        </component>
    </div>
</template>

<script>

    //Components
    import SelectedProducts from './widgets/SelectedProducts';
    import Images from './widgets/images/ImagesWidget';
    export default {
        props: ['widgets'],
        data() {
            return {};
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {
            SelectedProducts,
            Images,
        }
    }
</script>

<style scoped>

</style>