<template>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Borec.com.ua
            </a>
            <a class="navbar-item is-hidden-desktop">
                063-255-98-43, 063-1650-99-15
            </a>

            <a class="navbar-item is-hidden-desktop" @click="handleSelect('cart.show')">
                В корзину
            </a>

            <a role="button" class="navbar-burger burger" :class="{'is-active': openMobile}" aria-label="menu" aria-expanded="false" data-target="main-navbar" @click="openMobile = !openMobile">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-navbar" class="navbar-menu" :class="{'is-active': openMobile}">
            <div class="navbar-start">

                <slot name="navbar_start"></slot>

                <a class="navbar-item is-hidden-touch">
                    063-255-98-43, 063-1650-99-15
                </a>
            </div>

            <div class="navbar-end">

                <slot name="navbar_end"></slot>

                <a class="navbar-item is-hidden-touch" @click="handleSelect('cart.show')">

                    <cart-widget :cart-items="cartItems"> </cart-widget>
                </a>

                <a class="navbar-item" id="shop.info" href="#" @click="handleSelect('shop.info')">
                    Доставка & Оплата
                </a>



                <a class="navbar-item" id="admin.dashboard" href="#" v-if="isAuth && isAdmin" @click="handleSelect('admin.dashboard')">
                    Администратор
                </a>

                <a class="navbar-item" id="customer.dashboard" href="#" v-if="isAuth && !isAdmin" @click="handleSelect('customer.dashboard')">
                    Личный кабинет
                </a>
                <div class="navbar-item">
                    <div class="buttons">
                        <div class="button" v-if="isAuth" @click="logout">
                            <span>Выход</span>
                        </div>

                        <div class="button is-success" v-if="!isAuth" @click="handleSelect('login')">
                            Авторизация
                        </div>

                        <div class="button" v-if="!isAuth" @click="handleSelect('register')">
                            Регистрация
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </nav>

</template>


<script>

    export default {
        props: ['user', 'currentRoute', 'isAdmin', 'cartItems'],
        data() {
            return {
                openMobile: false,
            }
        },
        methods: {
            logout(){
                axios.post(route('logout'))
                    .then(res => {
                        location.reload();
                    });
            },
            handleSelect(key, keyPath){
                if ('logout' === key){
                    return
                }
                window.location.href = route(key);
            },
        },
        computed: {
            isAuth(){
                return !! this.user;
            },
        },
        mounted() {
        },
        components: {
        }
    }
</script>


<style>

</style>
