<template>
    <el-form :inline="true" label-position="top">

        <el-form-item label="type" :error="form.errors.show('type')">
            <el-select v-model="form.type">
                <el-option v-for="(type, index) in types" :key="index" v-text="type" :value="type"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="title" :error="form.errors.show('title')">
            <el-input v-model="form.title"></el-input>
        </el-form-item>

        <el-form-item label="description" :error="form.errors.show('description')">
            <el-input v-model="form.description"></el-input>
        </el-form-item>

        <el-form-item label="">
            <el-button @click="createWidget" v-loading="form.busy">create widget</el-button>
        </el-form-item>

    </el-form>
</template>

<script>

    //Helpers
    import Form from '../../../../../helpers/Form';

    export default {
        props: [],
        data() {
            return {
                types: [
                    'images',
                    'selected-products'
                ],
                form: new Form({
                    title: '',
                    description: '',
                    type: '',
                    template: null,
                }),
            };
        },
        methods: {
            createWidget(){
                this.form.post(route('widgets.store'))
                    .then(data => {
                        data['images'] = [];

                        this.$emit('create-widget', data);
                    });
            },
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>

<style scoped>

</style>