<template>
    <div>

        <create-widget @create-widget="widget => widgets.push(widget)"></create-widget>

        <widget
                v-for="widget in widgets"
                :key="widget.id"
                :widget="widget"
                @delete-widget="widget => { widgets.splice(widgets.indexOf(widget), 1)}">
        </widget>

    </div>
</template>

<script>


    //Helpers
    import Form from '../../../../../helpers/Form';

    //Components
    import CreateWidget from './CreateWidget';
    import Widget from './Widget';

    export default {
        props: ['widgetsInit'],
        data() {
            return {
                widgets: [],
                form: new Form({
                    type: 'carousel',
                    title: 'Images',
                    description: null,
                }),
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            };
        },
        methods: {
        },
        computed: {

        },
        mounted() {
            this.widgets = this.widgetsInit
        },
        components: {
            CreateWidget,
            Widget,
        }
    }
</script>

<style scoped>

</style>