<template>
    <el-card>
        <div slot="header" class="clearfix">
            <el-row :gutter="10" justify="space-around">
                <el-col :span="22">
                    <el-input placeholder="widget title" v-model="widget.title" @change="updateWidget" clearable></el-input>
                    <el-tag v-text="widget.type" size="mini"></el-tag>

                </el-col>
                <el-col :span="2">
                    <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteWidget"></el-button>
                </el-col>
            </el-row>
        </div>

        <component :is="widget.type + '-form'" :widget="widget" @update-widget="updateWidget"></component>

    </el-card>
</template>

<script>

    //Components
    import ImagesForm from './settingsForm/ImagesForm';
    import SelectedProductsForm from './settingsForm/SelectedProductForm';


    export default {
        props: ['widget'],
        data() {
            return {
            };
        },
        methods: {

            deleteWidget(){
                axios.delete(route('widgets.destroy', {widget: this.widget}))
                    .then(res => {
                        this.$emit('delete-widget', this.widget);
                    });
            },
            updateWidget(){
                axios.put(route('widgets.update', {widget: this.widget}), this.widget)
                    .then(res => {
                        this.$message('widget updated');
                    });
            },
        },
        computed: {},
        mounted() {
        },
        components: {
            ImagesForm,
            SelectedProductsForm,
        }
    }
</script>

<style scoped>

</style>