<template>
    <el-row>
        <el-col :span="24">
            <h5 class="categories-menu-title" v-text="'Категории'"></h5>

            <el-menu
                :default-active="defaultActive">
                <div v-for="topCategory in categories" >

                    <el-submenu
                            v-if="topCategory.children.length"
                            :key="topCategory.id"
                            :index="topCategory.id.toString()">
                        <template slot="title" >
                            <span v-text="topCategory.name"></span>
                        </template>

                        <el-menu-item
                                v-for="child in topCategory.children"
                                :key="child.id"
                                v-text="child.name"
                                @click="goToCategory(child)"
                                :index="child.id.toString()">
                        </el-menu-item>

                    </el-submenu>

                    <el-menu-item
                            v-else
                            :key="topCategory.id"
                            :index="topCategory.id.toString()"
                            v-text="topCategory.name"
                            @click="goToCategory(topCategory)"
                    ></el-menu-item>


                </div>

            </el-menu>
        </el-col>
    </el-row>

</template>

<style></style>

<script>

    export default {
        props: [
            'categories',
            'currentCategory',
        ],
        data() {
            return {}
        },
        methods: {
            isActive(routeName){
                return routeName === this.currentRoute;
            },
            goToCategory(cat){
                window.location.href  = route('categories.show', {category: cat});
            },
        },
        computed: {
            defaultActive(){
                let categoryId = _.isEmpty(this.currentCategory) ? 0 : this.currentCategory.id;
                return categoryId.toString();
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
