<template>
    <el-row :gutter="20">
        <el-col :span="4">
            <customer-dashboard-menu
                    :current-tab="currentTab"
                    @change-tab="changeTab"
            ></customer-dashboard-menu>
        </el-col>
        <el-col :span="20">
            <component :is="currentTab" :user="user"></component>

        </el-col>


    </el-row>
</template>

<script>

    //Components
    import CustomerDashboardMenu from './CustomerDashboardMenu';
    import Orders from './pages/CustomerOrders';
    import Profile from './pages/CustomerProfile';

    export default {
        props: ['user'],
        data() {
            return {
                currentTab: 'orders'
            };
        },
        methods: {
            changeTab(tabName){
                this.currentTab = tabName;
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            CustomerDashboardMenu,
            Orders,
            Profile
        }
    }
</script>

<style scoped>

</style>