<template>
    <el-row>
        <el-col :span="24">
            <el-menu
                    @select="handleSelect"
                    :default-active="currentTab">

                <el-menu-item
                        index="orders"
                        v-text="'Заказы'"
                ></el-menu-item>
                <!--<el-menu-item
                        index="profile"
                        v-text="'Профайл'"
                ></el-menu-item>-->

            </el-menu>
        </el-col>
    </el-row>

</template>

<style></style>

<script>

    //components
    import CustomerOrders from './pages/CustomerOrders';

    export default {
        props: ['currentTab'],
        data() {
            return {
            }
        },
        methods: {
            handleSelect(index, indexPath){
                this.$emit('change-tab', index);
            }

        },
        computed: {

        },
        mounted() {
        },
        components: {
            CustomerOrders,
        }
    }
</script>
