<template>
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a :href="getUrl('admin.dashboard')" :class="{'is-active': isActive('admin.dashboard')}">Dashboard</a></li>
        </ul>
        <p class="menu-label">
            Shop
        </p>
        <ul class="menu-list">
            <li>
                <a :href="getUrl('products.index')" :class="{'is-active': isActive('products.index')}">Products</a>
                <ul v-show="isActive('products.edit')">
                    <li><a :class="{'is-active': isActive('products.edit')}">Edit Product</a></li>
                </ul>
            </li>
            <li><a :href="getUrl('categories.index')" :class="{'is-active': isActive('categories.index')}">Categories</a></li>
            <li>
                <a :href="getUrl('modifiers.index')" :class="{'is-active': isActive('modifiers.index')}">Modifiers</a>
                <ul v-show="isActive('modifiers.edit')">
                    <li><a :class="{'is-active': isActive('modifiers.edit')}">Edit Modifier</a></li>
                </ul>
            </li>
            <li><a :href="getUrl('orders.index')" :class="{'is-active': isActive('orders.index')}">Orders</a> </li>
            <li><a :href="getUrl('settings.index')" :class="{'is-active': isActive('settings.index')}">Settings</a> </li>
        </ul>
    </aside>
</template>

<style></style>

<script>

    export default {
        props: [
            'currentRoute',
        ],
        data() {
            return {}
        },
        methods: {
            isActive(routeName){
                return routeName === this.currentRoute;
            },
            getUrl(routeName){
                return route(routeName);
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
