<template>
    <div class='checkout-page-content-holder'>

        <el-row type="flex" justify="center">

            <h3 class="title is-3">Оформление заказа</h3>

        </el-row>


            <div class="column is-6 is-offset-3">

                <el-steps :active="stepIndex" v-if="stepIndex < 4" finish-status="success" align-center>

                    <el-step v-for="(step, index) in steps" :key="index">
                        <el-button type="text" slot="title" @click="setStepIndex(index)" v-text="step"> </el-button>
                    </el-step>

                </el-steps>

                <el-card v-if="4 !== stepIndex">
                    <contacts v-if="stepIndex === 0" :checkout="checkout" @validated="nextStep"> </contacts>

                    <shippings v-if="stepIndex === 1" :shippings="shippings" @validated="nextStep"> </shippings>

                    <payment v-if="stepIndex === 2 " :payments="payments"  @validated="nextStep"> </payment>

                    <confirm v-if="stepIndex === 3" :checkout="checkout" :cartItems="cartItems" @confirmed="nextStep"> </confirm>

                </el-card>

            </div>

            <div class="column is-10 is-offset-1">
                <finish v-if="stepIndex === 4" :checkout="checkout"> </finish>
            </div>

        </div>

</template>

<style></style>

<script>

    //Helpers
    import Cart from '../../helpers/Cart';
    import Form from '../../helpers/Form';
    import Checkout from '../../helpers/Checkout';

    //Components
    import Contacts from './steps/Contacts';
    import Shippings from './steps/Shippings';
    import Payment from './steps/Payment';
    import Confirm from './steps/Confirm';
    import Finish from './steps/Finish';


    export default {
        props: ['cartItems', 'shippings', 'payments'],
        data() {
            return {
                checkout: new Checkout(),
                stepIndex: 0,
                cart: new Cart(this.cartItems),
                steps: [
                    'Контакты',
                    'Доставка',
                    'Оплата',
                    'Подтвердить'
                ]
            }
        },
        methods: {
            nextStep(data){
                this.stepIndex++;
                this.checkout.addData(data);
            },
            prevStep(){
                this.stepIndex--;
            },
            setStepIndex(index){
                if (index < this.stepIndex){
                    this.stepIndex = index;
                }
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            Shippings,
            Contacts,
            Payment,
            Confirm,
            Finish,
        }
    }
</script>
