<template>
        <component
                :is="formModifier.getOriginal('type') + '-field'"
                :form-modifier="formModifier"
                :referee="referee"
                :form-modifiers="formModifiers"
        > </component>

</template>

<style></style>

<script>

    //Helpers
    import Referee from '../../helpers/Referee';

    //Components
    import SelectField from './fields/SelectField.vue';
    import RadioField from './fields/RadioField.vue';
    import TextField from './fields/TextField.vue';
    import CheckboxField from './fields/CheckboxField.vue';
    import NumberField from './fields/NumberField.vue';

    export default {
        props: ['formModifier', 'formModifiers', 'rules'],
        data() {
            return {
                referee: new Referee(this.rules, this.formModifier),
            }
        },
        methods: {
        },
        computed: {},
        mounted() {
        },
        components: {
            SelectField,
            RadioField,
            TextField,
            CheckboxField,
            NumberField,
        }
    }
</script>
