<template>

    <el-row>
        <el-col :span="6" :offset="9">

            <h4 class="title is-4">Восстановление пароля</h4>

            <h3 v-if="emailSend" class="is-3 text-success">Ссылка отправлена успешно! Проверьте Вашу почту.</h3>


            <el-form v-else :model="form.data()" ref="form" @submit.native.prevent="requestResetPassword">

                <el-form-item label="Имеил" :error="form.errors.show('email')">

                    <el-input type="email" v-model="form.email" name="email" placeholder="Ваш имеил"> </el-input>

                </el-form-item>

                <el-form-item v-loading="form.busy">

                    <el-button class="pull-right" type="" @click="requestResetPassword">Отправить ссылку восстановления</el-button>
                </el-form-item>

            </el-form>

        </el-col>
    </el-row>
</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../helpers/Form';

    export default {
        props: [],
        data() {
            return {
                form: new Form({
                   email: '',
                }),
                emailSend: false,
                busy: false,
            }
        },
        methods: {
            requestResetPassword(){
                this.form.post(route('password.email'))
                    .then(data => {
                        this.emailSend = true;
                    })
            },
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
