<template>
    <el-row>
        <el-col :span="6" :offset="9">

            <h1 class="title is-1">Сброс пароля</h1>

            <el-form :model="form.data()" ref="form" @submit.native.prevent="resetPassword">

                <el-form-item label="Имеил" :error="form.errors.show('email')">

                    <el-input type="email" v-model="form.email" name="email" placeholder="Ваш имеил"> </el-input>

                </el-form-item>

                <el-form-item label="Пароль" :error="form.errors.show('password')">

                    <el-input type="password" v-model="form.password" name="password" placeholder="Пароль"> </el-input>

                </el-form-item>

                <el-form-item label="Пароль еще раз">

                    <el-input type="password" v-model="form.password_confirmation" name="password_confirmation" placeholder="Подтвердите пароль"> </el-input>

                </el-form-item>

                <el-form-item v-loading="form.loading">
                    <el-button class="pull-right" @click="resetPassword">Сбросить пароль</el-button>
                </el-form-item>

            </el-form>

        </el-col>
    </el-row>
</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../helpers/Form';

    export default {
        props: ['email', 'token'],
        data() {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token: '',
                }),
            }
        },
        methods: {
            resetPassword(){
                this.form.post(route('password.request'))
                    .then(data => {
                        window.location = route('home');
                    })
            },
        },
        computed: {},
        mounted() {
            this.form.token = this.token;
        },
        components: {}
    }
</script>
