<template>
    <form @keydown="form.errors.clear($event.target.name)">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input name="title" :class="{'is-danger': form.errors.has('title')}" class="input" type="text" v-model="form.title"/>
            </div>
            <div class="help is-danger" v-if="form.errors.has('title')" v-text="form.errors.get('title')"></div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea name="description" :class="{'is-danger': form.errors.has('description')}"  class="textarea" v-model="form.description"></textarea>
            </div>
            <div class="help is-danger" v-if="form.errors.has('description')" v-text="form.errors.get('description')"></div>
        </div>

        <div class="field">
            <label class="label">Code</label>
            <div class="control">
                <input name="code" :class="{'is-danger': form.errors.has('code')}"  class="input" type="text" v-model="form.code" disabled/>
            </div>
            <div class="help is-danger" v-if="form.errors.has('code')" v-text="form.errors.get('code')"></div>

        </div>

        <div class="field">
            <label class="label">Price</label>
            <div class="control">
                <input name="price" :class="{'is-danger': form.errors.has('price')}"  class="input" type="number" v-model="form.price"/>
            </div>
            <div class="help is-danger" v-if="form.errors.has('price')" v-text="form.errors.get('price')"></div>

        </div>


        <div class="field">
            <label class="label">Categories</label>
            <div class="control">
                <div class="select is-multiple">
                    <select multiple v-model="productCategoriesIds" @change="syncCategories">
                        <option v-for="category in allCategories" :key="category.id" v-text="category.name" :value="category.id" ></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label"></label>
            <div class="control">
                <div class="button" :class="{'is-loading': form.busy}" @click="update">Save</div>
            </div>
        </div>

    </form>
</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../../helpers/Form';

    export default {
        props: ['product', 'allCategories'],
        data() {
            return {
                busy: false,
                productCategoriesIds: [],
                form: new Form({
                    title: this.product.title,
                    description: this.product.description,
                    code: this.product.code,
                    price: this.product.price,
                }),
            }
        },
        methods: {
            update(){
                this.form.put(route('products.update', {product: this.product}))
                    .then(data => {
                        //Update model data in client sides
                        _.each(this.form.data(), (data, key) => {
                            this.product[key] = data;
                        });
                    });
            },
            syncCategories(){

                this.busy = true;

                axios.post(route('products.categories_sync', {product: this.product}), {categories: this.productCategoriesIds})
                    .then(res => {
                        this.busy=false;
                        this.product.categories = this.newProductCategories;

                    })
                    .catch(error => {
                        this.busy=false;

                        console.log(error.response.data);
                    });
            }
        },
        computed: {
            newProductCategories(){
                return this.productCategoriesIds.map(categoryId => {
                    return this.allCategories.find(cat => {
                        return cat.id === categoryId;
                    });
                })
            }
        },
        mounted() {
            this.productCategoriesIds = this.product.categories.map(cat => { return cat.id });
        },
        components: {}
    }
</script>
