<template>
    <div class=''>
        <image-uploader-with-gallery :options="dropzoneOptions" :imagesInit="product.images"></image-uploader-with-gallery>
    </div>
</template>

<style></style>

<script>

    //Components
    import ImageUploaderWithGallery from '../../../common/ImageUploaderWithGalery.vue';

    export default {
        props: ['product'],
        data() {
            return {
                dropzoneOptions: {
                    url: route('products.image', {product: this.product}),
                    thumbnailWidth: 150,
                    maxFilesize: 5,
                    method: 'POST',
                    paramName: 'product_image',
                    headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
                },
            }
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {
            ImageUploaderWithGallery,
        }
    }
</script>
