<template>
    <product-modifiers :product="product"> </product-modifiers>
</template>

<style></style>

<script>

    //Components
    import ProductModifiers from '../../modifiers/ProductModifiers.vue';
    export default {
        props: ['product'],
        data() {
            return {
            }
        },
        methods: {
            addProductModifier(mod){
                this.product.modifiers.push(mod);
            },
            deleteModifier(modifierToDelete){
                this.product.modifiers = this.product.modifiers.filter(mod => {
                    return mod.id !== modifierToDelete.id;
                });
            }
        },
        computed: {
            modifiers(){
                return this.product.modifiers;
            }
        },
        mounted() {
        },
        components: {
            ProductModifiers,
        }
    }
</script>
