<template>
    <product-rules :product="product"></product-rules>
</template>

<style></style>

<script>

    //Components
    import ProductRules from '../../modRules/ProductRules.vue';


    export default {
        props: ['product'],
        data() {
            return {
                rules: {}
            }
        },
        methods: {
            addRule(newRule){
                this.rules.push(newRule);
            }
        },
        computed: {},
        mounted() {
            this.rules = this.product.mod_rules;
        },
        components: {
            ProductRules,
        }
    }
</script>
