<template>
    <form @keydown="form.errors.clear($event.target.name)" @submit.prevent="update">

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input type="text" class="input" name="name" v-model="form.name" :class="{'is-danger': form.errors.has('name')}"/>
            </div>
            <div class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea name="description" class="textarea" v-model="form.description" :class="{'is-danger': form.errors.has('description')}"></textarea>
            </div>
            <div class="help is-danger" v-if="form.errors.has('description')" v-text="form.errors.get('description')"></div>
        </div>

        <div class="field">
            <div class="control">
                <span class="button" :class="{'is-loading': form.busy}" @click="update">update</span>
            </div>
        </div>

    </form>
</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../../../helpers/Form';

    export default {
        props: ['modifier'],
        data() {
            return {
                form: new Form({
                    name: this.modifier.name,
                    description: this.modifier.description,
                }),
            }
        },
        methods: {
            update(){
                this.form.put(route('modifiers.update',{modifier: this.modifier}));
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
