<template>
    <div>
        <create-mod-option @created="addNewOption" :modifier="modifier"></create-mod-option>

        <div class="media" v-for="option in options" :key="option.id">
            {{ option.name }}
        </div>
    </div>
</template>

<style></style>

<script>

    //Components
    import CreateModOption from '../../../modOptions/CreateModOption.vue';

    export default {
        props: ['modifier'],
        data() {
            return {
                options: []
            }
        },
        methods: {
            addNewOption(option){
                console.log(option);
                this.options.push(option);
            }
        },
        computed: {},
        mounted() {
            this.options = this.modifier.mod_options;
        },
        components: {
            CreateModOption,
        }
    }
</script>
