<template>
    <el-form>
        <el-form-item label="Category">
            <el-select v-model="selectedCategory" value-key="name" placeholder="Select" no-data-text="No categories" @change="getCategoryModifiers">

                <el-option v-for="category in product.categories" :key="category.id" :label="category.name" :value="category"> </el-option>

            </el-select>
        </el-form-item>

        <el-form-item label="Modifiers" v-loading="modifiersLoading">
            <el-select v-model="selectedModifier" value-key="name" placeholder="Select" no-data-text="No modifiers">

                <el-option v-for="modifier in filteredCategoryModifiers" :key="modifier.id" :label="modifier.name" :value="modifier"> </el-option>

            </el-select>
        </el-form-item>


        <el-button v-if="selectedModifier" @click="attachModifier">Attach</el-button>

    </el-form>
</template>

<style></style>

<script>


    export default {
        props: ['product', 'attachedModifiers'],
        data() {
            return {
                selectedCategory: {},
                selectedModifier: {},
                categoryModifiers: [],
                modifiersLoading: false,
            }
        },
        methods: {
            getCategoryModifiers(){
                this.modifiersLoading = true;
                axios.get(route('modifiers.for_category', {category: this.selectedCategory}))
                    .then(res => {
                        if (200 === res.status){
                            this.categoryModifiers = res.data;
                            this.modifiersLoading = false;
                        }
                    })
                    .catch(error => {
                        this.modifiersLoading = false;
                    });
            },
            attachModifier(){
                axios.post(route('products.attach_modifier', {
                    modifier: this.selectedModifier,
                    product: this.product,
                }))
                    .then(res => {
                        if (200 === res.status){
                            this.$emit('attached', this.selectedModifier);
                            this.selectedModifier = '';
                        }
                    });
            }
        },
        watch: {
            selectedCategory(){
            }
        },
        computed: {
            filteredCategoryModifiers(){
                return this.categoryModifiers.filter(mod => {
                    return ! this.attachedModifiers.find(attachedMod => {
                        return attachedMod.id === mod.id;
                    })
                });
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
