<template>
    <form @submit.prevent="createOption">

        <div class="field is-horizontal">

            <div class="field-body">

                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Name" name="name" v-model="form.name" required>
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="description" placeholder="Description" v-model="form.description">
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="number" min="0" placeholder="Rise" v-model="form.rise" name="rise" required/>
                    </p>
                </div>

                <div class="field">
                    <div class="control">
                        <span class="button" @click="createOption" :class="{'is-loading': form.busy}">create</span>
                    </div>
                </div>
                
            </div>
        </div>

    </form>

</template>

<style></style>

<script>

    import Form from '../../../helpers/Form';

    export default {
        props: ['modifier'],
        data() {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    rise: 0
                })
            }
        },
        methods: {
            createOption(){
                this.form.post(route('mod_options.store', {modifier: this.modifier}))
                    .then(response => {
                        this.$emit('created', response);
                    })
                    .catch(error => {
                        console.log(error.response.data)
                    });
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
