<template>
    <div>
        <create-mod-option :modifier="modifier" @created="addOption"></create-mod-option>

        <mod-option :option="option" v-for="option in modifier.mod_options" :key="option.id" :modifier="modifier" @deleted="removeOption"></mod-option>

    </div>
</template>

<style></style>

<script>

    //Components
    import CreateModOption from './CreateModOption.vue';
    import ModOption from './ModOption.vue';

    export default {
        props: ['modifier'],
        data() {
            return {
                options: {},
            }
        },
        methods: {
            addOption(option){
                this.modifier.mod_options.push(option);
            },
            removeOption(optionToRemove){
                this.modifier.mod_options = this.modifier.mod_options.filter(option => {
                    return option.id !== optionToRemove.id;
                });
            }
        },
        computed: {},
        mounted() {
        },
        watch:{
        },
        components: {
            CreateModOption,
            ModOption,
        }
    }
</script>
