<template>
    <div class="media">
        <div class="media-content">
            <div class="container-fluid">
                <form @submit.prevent="updateOption">

                    <div class="field is-horizontal">

                        <div class="field-body">

                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Name" name="name" v-model="form.name">
                                </p>
                            </div>

                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="text" name="description" placeholder="Description" v-model="form.description">
                                </p>
                            </div>

                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="number" min="0" placeholder="Rise" v-model="form.rise" name="rise"/>
                                </p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <div class="button" @click="updateOption" :class="{'is-loading': form.busy}">update</div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="delete" @click.prevent="deleteOption"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="tabs is-small">
                <ul>
                    <li :class="{'is-active': tabs.is('images')}" @click="tabs.toggle('images')"><a>Images</a></li>
                </ul>
            </div>

            <mod-option-images v-if="tabs.is('images')" :option="option"></mod-option-images>
        </div>

    </div>
</template>

<style></style>

<script>

    //Components
    import ModOptionImages from './ModOptionImages.vue';
    //Helpers
    import Form from '../../../helpers/Form';
    import Tabs from '../../../helpers/Tabs';

    export default {
        props: ['modifier', 'option'],
        data() {
            return {
                form: new Form({
                    name: this.option.name,
                    description: this.option.description,
                    rise: this.option.rise,
                }),
                tabs: new Tabs(['imnages'], ''),
                showImages: false,
            }
        },
        methods: {
            updateOption(){
                this.form.put(route('mod_options.update', {mod_option: this.option}));
            },
            deleteOption(){
                axios.delete(route('mod_options.destroy', {mod_option: this.option}))
                    .then(res => {
                        if (res.status === 200){
                            this.$emit('deleted', this.option);
                        }
                    });
            },
            addImage(){

            },
        },
        computed: {
        },
        mounted() {
        },
        components: {
            ModOptionImages
        }
    }
</script>
