<template>

    <image-uploader-with-gallery :options="dropzoneOptions" :imagesInit="option.images"></image-uploader-with-gallery>

</template>

<style></style>

<script>



    //Components
    import ImageUploaderWithGallery from '../../common/ImageUploaderWithGalery.vue';

    export default {
        props: ['option'],
        data() {
            return {
                dropzoneOptions: {
                    url: route('mod_options.image', {mod_option: this.option}),
                    thumbnailWidth: 150,
                    maxFilesize: 5,
                    method: 'POST',
                    paramName: 'mod_option_image',
                    headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
                },
            }
        },
        methods: {
            deleteImage(imageToDelete){
                axios.delete(route('images.destroy', {image: imageToDelete}))
                    .then(res => {
                        if ( res.status === 200){
                            this.option.images = this.option.images.filter(img => {
                                return img.id !== imageToDelete.id;
                            })
                        }
                    });
            }
        },
        computed: {
            images(){
                return _.chunk(this.option.images, 4);
            }
        },
        mounted() {

        },
        components: {
            ImageUploaderWithGallery,
        }
    }
</script>
