<template>
    <div class='field' v-show="!referee.isModifierHidden(formModifiers)">

        <label class="label"> {{ formModifier.getOriginal('name') }} <span v-if="formModifier.getOriginal('required')">*</span></label>

        <label class="checkbox" v-for="option in formModifier.getOptions()" :disabled="referee.isModifierDisabled(formModifiers)">

            <input type="checkbox" :value="option.id" v-model="formModifier.selectedValue" :disabled="referee.isModifierDisabled(formModifiers)">

            {{ option.name }} {{ getRise(option) }}

        </label>

        <mod-option-images v-if="formModifier.hasOptions()" :form-modifier="formModifier"> </mod-option-images>

    </div>

</template>

<style></style>

<script>

    import ModOptionImages from './images/ModOptionOmages';

    export default {
        props: ['formModifier', 'referee', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
            getRise(option){
                return (0 === option.rise) ? '' : '(+' + option.rise + ' грн.)'
            }
        },
        computed: {
        },
        mounted() {
        },
        components: {
            ModOptionImages,
        }
    }
</script>
