<template>

    <div class='field' v-show="!referee.isModifierHidden(formModifiers)">

        <label class="label"> {{ formModifier.getOriginal('name') }} <span v-if="formModifier.getOriginal('required')">*</span></label>

        <div class="control">

            <el-input-number
                    v-model="formModifier.inputData"
                    :disabled="referee.isModifierDisabled(formModifiers)"
                    :required="formModifier.getOriginal('required')"
                    :min="minValue"
                    :max="maxValue"
            >
            </el-input-number>

        </div>

    </div>

</template>

<style></style>

<script>

    export default {
        props: ['formModifier', 'referee', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
        },
        computed: {
            numRangeRule(){
                return this.referee.getActiveModifierRules(this.formModifiers).find(rule => {
                    return 'num_range' === rule.action;
                });
            },
            minValue(){
                return _.isUndefined(this.numRangeRule) ? -Infinity : this.numRangeRule.config.min;
            },
            maxValue(){
                return _.isUndefined(this.numRangeRule) ? Infinity : this.numRangeRule.config.max;
            },
            hasActiveNumRangeRule(){
                return !_.isUndefined(this.numRangeRule);
            }
        },
        mounted() {
            this.formModifier.inputData = this.hasActiveNumRangeRule ? this.minValue : 0;
        },
        watch: {
            numRangeRule(){
                this.formModifier.inputData = this.hasActiveNumRangeRule ? this.minValue : 0;
            }
        },
        components: {}
    }
</script>
