<template>
    <div class="field" v-show="!referee.isModifierHidden(formModifiers)">

        <label class="label">{{ formModifier.getOriginal('name') }} <span v-if="formModifier.getOriginal('required')">*</span> </label>

        <div class="control">

            <label class="radio" v-for="option in formModifier.getOptions()" :key="option.id" :disabled="referee.isModifierDisabled(formModifiers)">

                <input type="radio" :id="option.id" v-model="formModifier.selectedValue" :value="option.id" :disabled="referee.isModifierDisabled(formModifiers)">

                {{ option.name }} {{ getRise(option) }}

            </label>

            <mod-option-images v-if="formModifier.hasOptions()" :form-modifier="formModifier"> </mod-option-images>

        </div>
    </div>
</template>

<style></style>

<script>

    import ModOptionImages from './images/ModOptionOmages';

    export default {
        props: ['formModifier', 'referee', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
            getRise(option){
                return (0 === option.rise) ? '' : '(+' + option.rise + ' грн.)'
            },

        },
        computed: {
        },
        mounted() {
        },
        components: {
            ModOptionImages,
        }

    }
</script>
