<template>

    <div class='field' v-show="!referee.isModifierHidden(formModifiers)">

        <label class="label"> {{ formModifier.getOriginal('name') }} <span v-if="formModifier.getOriginal('required')">*</span></label>

        <div class="control">
            <el-row :gutter="10">

                <el-col :span="18">

                    <el-select v-model="formModifier.selectedValue" :disabled="referee.isModifierDisabled(formModifiers)">
                        <el-option
                                v-for="option in formModifier.getOptions()"
                                :key="option.id"
                                :label="option.name + getRise(option)"
                                :value="option.id">
                        </el-option>
                    </el-select>

                </el-col>

                <el-col :span="6">

                    <mod-option-images v-if="formModifier.hasOptions()" :form-modifier="formModifier"> </mod-option-images>

                </el-col>
            </el-row>
        </div>

    </div>
</template>

<style></style>

<script>

    import ModOptionImages from './images/ModOptionOmages';
    import ElRow from "element-ui/packages/row/src/row";

    export default {
        props: ['formModifier', 'referee', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
            getRise(option){
                return (0 === option.rise) ? '' : '(+' + option.rise + ' грн.)'
            }
        },
        computed: {
        },
        mounted() {
        },
        components: {
            ElRow,
            ModOptionImages,
        }
    }
</script>
