<template>
    <div class='field' v-show="!referee.isModifierHidden(formModifiers)">

        <label class="label"> {{ formModifier.getOriginal('name') }} <span v-if="formModifier.getOriginal('required')">*</span></label>

        <div class="control">

            <input type="text" class="input" v-model="formModifier.inputData" :disabled="referee.isModifierDisabled(formModifiers)" :required="formModifier.getOriginal('required')" />

        </div>

    </div>
</template>

<style></style>

<script>

    export default {
        props: ['formModifier', 'referee', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
        },
        computed: {
        },
        mounted() {
        },
        components: {}
    }
</script>
