<template>
    <div class=''>

        <figure class="image is-32x32" v-for="image in selectedOptionImages" v-if="!formModifier.getOriginal('main_gallery')">
            <img :src="image | imageThumbUrl" v-img="{src: '/storage/' + image.patch}">
        </figure>

    </div>
</template>

<style></style>

<script>

    export default {
        props: ['formModifier'],
        data() {
            return {}
        },
        methods: {},
        computed: {
            selectedOptionImages(){

                if (this.formModifier.isSupportMultiple()){

                    let images = [];

                    _.each(this.formModifier.getSelectedOption(), option => {

                        _.each(option.images, image => {

                            images.push(image);

                        })

                    });

                    return images;

                } else {

                    return _.first(this.formModifier.getSelectedOption()).images;

                }

            },
        },
        mounted() {
        },
        components: {}
    }
</script>
