<template>
    <div >

        <div class="box" v-for="shipping in shippings" :key="shipping.id" >
            <el-tag v-text="shipping.slug"></el-tag>
            <el-form>
                <el-form-item label="Title">
                    <el-input v-model="shipping.name"></el-input>
                </el-form-item>

                <el-form-item label="Description">
                    <el-input type="textarea" v-model="shipping.description"></el-input>
                </el-form-item>

                <el-form-item v-if="'nova_poshta' === shipping.slug" label="nova poshta api">
                    <el-input v-model="shipping.meta.apiKey"></el-input>
                </el-form-item>
            </el-form>


            <el-button type="success" :loading="form.busy" @click="updateShipping(shipping)">update</el-button>
        </div>

    </div>
</template>

<script>

    import Form from '../../../../../helpers/Form';

    export default {
        props: [],
        data() {
            return {
                form: {busy:false},
                shippings: [],
            };
        },
        methods: {
            updateShipping(shipping){
                this.form = new Form(shipping);

                this.form.put(route('shippings.update', {shipping: shipping}));
            }
        },
        computed: {},
        mounted() {
            axios.get(route('shippings.index'))
                .then( res => {
                    if (200 === res.status){
                        this.shippings = res.data;
                    }
                })
        },
        components: {}
    }
</script>

<style scoped>

</style>