<template>
    <el-breadcrumb separator=">">
        <el-breadcrumb-item><a :href="getUrlFormRoute('home')">главная</a></el-breadcrumb-item>
        <el-breadcrumb-item
                v-if="extractedCategories.length"
                v-for="category in extractedCategories"
                :key="category.id">

            <a :href="getUrlFormRoute('categories.show', {category: category.id})" v-text="category.name"></a>

        </el-breadcrumb-item>

        <el-breadcrumb-item>

            <a @click.prevent :href="getUrlFormRoute('products.show', { product: product.id })" v-text="product.title"></a>

        </el-breadcrumb-item>

    </el-breadcrumb>
</template>

<style></style>

<script>

    export default {
        props: ['product'],
        data() {
            return {}
        },
        methods: {
            getUrlFormRoute(routeName, params = {}){
                return route(routeName, params);
            }
        },
        computed: {
            extractedCategories(){
                let categories = [];

                if (this.product.categories.length){
                    categories.push(_.first(this.product.categories));
                }

                return categories;
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
