<template>
    <div class="container-fluid">

        <vue-dropzone
                ref="myVueDropzone"
                id="mod-option-images"
                :options="options"
                @vdropzone-success="addedFile"
        > </vue-dropzone>

        <el-row :gutter="20" v-for="(images_group, index) in chunk_images" :key="index">
                <el-col :span="6" v-for="image in images_group" :key="image.id">
                    <figure class="image is-square">

                        <img v-img="{src: '/storage/' + image.patch, group:'mod-option-images'}" :src="image | imageThumbUrl('medium')" />

                        <span class="delete is-danger" @click="deleteImage(image)"></span>

                    </figure>
                </el-col>
        </el-row>
    </div>
</template>

<style></style>

<script>


    //Components
    import VueDropzone from 'vue2-dropzone';

    //Styles
    import 'vue2-dropzone/dist/vue2Dropzone.css'

    export default {
        props: ['options', 'imagesInit'],
        data() {
            return {
                images: [],
            }
        },
        methods: {
            deleteImage(imageToDelete){
                axios.delete(route('images.destroy', {image: imageToDelete}))
                    .then(res => {
                        if ( res.status === 200){
                            this.images = this.images.filter(img => {
                                return img.id !== imageToDelete.id;
                            })
                        }
                    });
            },
            addedFile(file, response){
                this.images.push(response);
            }
        },
        computed: {
            chunk_images(){
                return _.chunk(this.images, 4);
            }

        },
        mounted() {
            this.images = this.imagesInit;
        },
        components: {VueDropzone}
    }
</script>
