<template>
    <div class="container-fluid">
        <div class="columns">
            <a :href="urlModifiersIndex" class="button is-small">back to lists</a>
        </div>
        <div>

            <div class="tabs">
                <ul>
                    <li :class="{'is-active': tabs.is('general')}" @click="tabs.set('general')"><a>General</a></li>
                    <li :class="{'is-active': tabs.is('mod-options')}" @click="tabs.set('mod-options')"><a>Options</a></li>
                </ul>
            </div>

            <keep-alive>
                <component :is="tabs.current + '-tab'" :modifier="modifier"></component>
            </keep-alive>


        </div>
    </div>
</template>

<style></style>

<script>

    //Components
    import GeneralTab from './tabs/GeneralTab.vue';
    import ModOptionsTab from './tabs/ModOptionsTab.vue';

    //Helpers
    import Tabs from '../../../../helpers/Tabs';

    export default {
        props: ['modifier'],
        data() {
            return {
                tabs: new Tabs(['general', 'mod-options'], 'general'),
            }
        },
        methods: {},
        computed: {
            urlModifiersIndex(){
                return route('modifiers.index')
            }
        },
        mounted() {
        },
        components: {
            //Tabs
            GeneralTab,
            ModOptionsTab,
        }
    }
</script>
