<template>
    <div class=''>

        <modifier-form :form="form" @create="createCategoryModifier"> </modifier-form>

    </div>
</template>

<style></style>

<script>

    //Components
    import ModifierForm from '../modifiers/ModifierForm';

    //Helpers
    import Form from '../../../helpers/Form';

    export default {
        props: ['category'],
        data() {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    type: 'select',
                }),
            }
        },
        methods: {
            createCategoryModifier(){
                this.form.post(route('categories.create_modifier',{category: this.category}))
                    .then(data => {
                        data['mod_options'] = [];
                        this.category.modifiers.push(data);
                        this.$emit('created', data);
                    });
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            ModifierForm,
        }
    }
</script>
