<template>

    <modifier-form
            :form="form"
            @create="createProductModifier">
    </modifier-form>

</template>

<style></style>

<script>

    //Components
    import ModifierForm from './ModifierForm.vue';

    //Helpers
    import Form from '../../../helpers/Form';

    export default {
        props: ['product'],
        data() {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    type: 'select',
                    main_gallery: false,
                }),
            }
        },
        methods: {
            createProductModifier(){
                this.form.post(route('modifiers.store_for_product', {product: this.product}))
                    .then(res => {
                        this.$emit('created', res);
                    });
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            ModifierForm,
        }
    }
</script>
