<template>

    <modifier-form :form="form" @create="createModifier"></modifier-form>

</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../helpers/Form'

    //Components
    import ModifierForm from './ModifierForm.vue';

    export default {
        props: ['modifiers'],
        data() {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    type: 'select',
                    required: false,
                }),
            }
        },
        methods: {
            createModifier(){
                this.form.post(route('modifiers.store'))
                    .then(data => {
                        this.modifiers.push(data);
                    })
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            ModifierForm,
        }
    }
</script>
