<template>

    <el-row :gutter="20">

        <el-col :span="16">

            <modifiers-list
                    :modifiers="modifiers"
                    :selected="selected"
                    @deleted="deleteModifier"> </modifiers-list>

        </el-col>


        <el-col :span="8">

            <create-modifier :modifiers="modifiers"> </create-modifier>

        </el-col>

    </el-row>

</template>

<style></style>

<script>

    //Components
    import ModifiersList from './ModifiersList.vue';
    import CreateModifier from './CreateModifier.vue';

    //Helpers
    import Selected from '../../../helpers/Editable';
    import ElRow from "element-ui/packages/row/src/row";

    export default {
        props: ['modifiersInit'],
        data() {
            return {
                modifiers: {},
                selected: new Selected(),
            }
        },
        methods: {
            deleteModifier(modifierToDelete){
                this.modifiers = this.modifiers.filter(mod => {
                    return modifierToDelete.id !== mod.id;
                })
            }
        },
        computed: {},
        mounted() {
            this.modifiers = this.modifiersInit;

        },
        components: {
            ElRow,
            ModifiersList,
            CreateModifier,
        }
    }
</script>
