<template>
    <form @keydown="form.errors.clear($event.target.name)" @submit.prevent="createModifier">

        <div class="field">
            <label class="label">Type</label>
            <div class="control">
                <div class="select" :class="{'is-danger': form.errors.has('type')}">
                    <select v-model="form.type">
                        <option disabled value="">Please select one</option>
                        <option v-for="type in types" :key="type" :value="type" v-text="type"></option>
                    </select>
                </div>
            </div>
            <div class="help is-danger" v-if="form.errors.has('type')" v-text="form.errors.get('type')"></div>
        </div>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input type="text" class="input" name="name" v-model="form.name" :class="{'is-danger': form.errors.has('name')}"/>
            </div>
            <div class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea name="description" class="textarea" v-model="form.description" :class="{'is-danger': form.errors.has('description')}"></textarea>
            </div>
            <div class="help is-danger" v-if="form.errors.has('description')" v-text="form.errors.get('description')"></div>
        </div>

        <div class="field">
            <label class="label">Is required</label>
            <div class="control">
                <el-switch
                        v-model="form.required"
                        active-text="Is required"
                > </el-switch>
            </div>
        </div>

        <div class="field">
            <label class="label">Main gallery</label>
            <div class="control">
                <el-switch
                        v-model="form.main_gallery"
                        active-text="Main gallery">
                </el-switch>
            </div>
        </div>


        <div class="field">
            <div class="control">
                <div class="button" :class="{'is-loading': form.busy}" @click="createModifier">Create</div>
            </div>
        </div>


    </form>
</template>

<style></style>

<script>

    export default {
        props: ['form'],
        data() {
            return {
                types: [
                    'select',
                    'radio',
                    'checkbox',
                    'text',
                    'number',
                ]
            }
        },
        methods: {
            createModifier(){
                this.$emit('create');
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
