<template>
    <draggable :list="modifiers" :options="{handle: '.el-icon-rank'}">

        <div class="box" v-for="modifier in modifiers" :key="modifier.id">

            <div class="media">
                <div class="media-left">
                    <span class="el-icon-rank"></span>
                    <a @click="selected.toggle(modifier)">
                        <strong v-text="modifier.name"></strong>
                        <span class="tag" v-text="modifier.type"></span>

                        <el-switch
                                v-model="modifier.required"
                                active-text="Is required"
                                @change="updateModifier(modifier)">
                        </el-switch>
                        <el-switch
                                v-model="modifier.main_gallery"
                                active-text="Main Gallery"
                                @change="updateModifier(modifier)">
                        </el-switch>
                    </a>
                </div>

                <div class="media-content">
                    {{ modifier.description }}
                </div>

                <div class="media-right">
                    <button class="delete" v-if="detach" @click.prevent="detachModifier(modifier)">detach</button>
                    <button class="delete" v-else @click.prevent="deleteModifier(modifier)">delete</button>
                </div>
            </div>

            <div v-if="showOptions(modifier)" class="media">
                <select-mod-options :modifier="selected.item"> </select-mod-options>
            </div>

        </div>

    </draggable>
</template>

<style>
    .el-icon-rank{
        cursor: pointer;
    }
</style>

<script>

    //Components
    import ModOptions from '../modOptions/ModOptions.vue';
    import SelectModOptions from '../modOptions/types/SelectModOptions.vue';
    import TextModOptions from '../modOptions/types/TextModOptions.vue';
    import Draggable from 'vuedraggable';
    //Helpers
    import Form from "../../../helpers/Form";

    export default {
        props: ['modifiers', 'selected', 'detach', 'isDraggable'],
        data() {
            return {
            }
        },
        methods: {
            deleteModifier(modifierToDelete){
                axios.delete(route('modifiers.destroy', {modifier: modifierToDelete}))
                    .then(res => {
                        if ( res.status === 200){
                            if (this.selected.is(modifierToDelete)){
                                this.selected.cancel();
                            }

                            this.$emit('deleted', modifierToDelete);
                        }
                    });
            },
            detachModifier(modifierToDetach){

                this.$emit('detach-modifier', modifierToDetach);

            },
            urlModifierEdit(modifier){
                return route('modifiers.edit', {'modifier': modifier});
            },
            showOptions(modifier){
                return this.selected.active() && this.selected.is(modifier);
            },
            updateModifier(modifier){
                let form = new Form({
                    name: modifier.name,
                    description: modifier.description,
                    type: modifier.type,
                    required: modifier.required,
                    main_gallery: modifier.main_gallery,
                });

                form.put(route('modifiers.update', {modifier: modifier}))
                    .then(data => {
                        this.$message('Modifier updated');
                    });

            },
        },
        computed: {
        },
        mounted() {
        },
        components: {
            ModOptions,
            SelectModOptions,
            TextModOptions,
            Draggable,
        }
    }
</script>
