<template>
    <el-row :gutter="20">

        <el-col :span="14">

            <modifiers-list
                    v-if="modifiers.length > 0"
                    :modifiers="modifiers"
                    :selected="selected"
                    :detach="true"
                    @detach-modifier="detachModifier"
                    @deleted="removeModifier"
            > </modifiers-list>

            <div v-else >nothing here</div>


        </el-col>

        <el-col :span="10">

            <el-tabs v-model="activeTab">

                <el-tab-pane label="Create" name="create">

                    <create-product-modifier :product="product" @created="addModifier"> </create-product-modifier>

                </el-tab-pane>

                <el-tab-pane label="Attach" name="attach">

                    <attach-category-modifiers :product="product" :attached-modifiers="modifiers" @attached="addModifier"> </attach-category-modifiers>

                </el-tab-pane>

            </el-tabs>

        </el-col>

    </el-row>

</template>

<style></style>

<script>

    //Helper
    import Selected from '../../../helpers/Editable';

    //Components
    import ModifiersList from './ModifiersList.vue';
    import CreateProductModifier from './CreateProductModifier.vue';
    import AttachCategoryModifiers from '../products/tabs/modifies/AttachCategoryModifiers';

    export default {
        props: ['product'],
        data() {
            return {
                modifiers: [],
                selected: new Selected(),
                activeTab: 'create',
            }
        },
        methods: {
            removeModifier(modToRemove){
                this.modifiers = this.modifiers.filter(mod => {
                    return mod.id !== modToRemove.id;
                });
                this.product.modifiers = this.modifiers;
            },
            detachModifier(modifierToDetach){
                axios.delete(route('products.detach_modifier',{
                    product: this.product,
                    modifier: modifierToDetach,
                }))
                    .then(res => {
                        if ( 200 === res.status){
                            this.removeModifier(modifierToDetach);
                        }
                    });
            },
            addModifier(mod){
                if (_.isUndefined(mod.mod_options)){
                    mod['mod_options'] = [];
                }
                this.modifiers.push(mod);
            },
            updateModifiersOrder(){
                if (this.productHasModifiers && this.productModifiersOrderNotSaved){
                    axios.put(route('products.update', {product: this.product}), {'modifiers_order': this.modifiersIds})
                        .then(res => {
                            if (200 === res.status){
                                //Update product object
                                this.product.modifiers_order = this.modifiersIds;
                                this.$message('Modifiers order updated');
                            }
                        });
                }
            }
        },
        computed: {
            modifiersIds(){
                return this.modifiers.map(mod => {
                    return mod.id;
                });
            },
            productHasModifiers(){
                return !_.isEmpty(this.modifiers);
            },
            productModifiersOrderNotSaved(){
                return !_.isEqual(this.product.modifiers_order, this.modifiersIds)
            },
            theNumberOfModifiersCorrespondsToTheOrderOfTheProductModifiers(){
                return this.modifiers.length === this.product.modifiers_order.length
            },
        },
        watch:{
            modifiers(){
                this.updateModifiersOrder();
            }

        },
        mounted() {

            this.modifiers = this.product.modifiers;

            //Apply modifiers order
            if (!_.isEmpty(this.modifiers)){

                if (this.theNumberOfModifiersCorrespondsToTheOrderOfTheProductModifiers){
                    this.modifiers = this.product.modifiers_order.map(modId => {
                        return this.modifiers.find(mod => {
                            return mod.id === modId;
                        })
                    });
                } else {
                    this.updateModifiersOrder();
                }

            }

        },
        components: {
            ModifiersList,
            CreateProductModifier,
            AttachCategoryModifiers,
        }
    }
</script>
