<template>
    <div class="container is-fluid">
        <div class="tabs">
            <ul>
                <li :class="{'is-active': tabs.is('general')}" @click="tabs.set('general')"><a>General</a></li>
                <li :class="{'is-active': tabs.is('images')}" @click="tabs.set('images')"><a>Images</a></li>
                <li :class="{'is-active': tabs.is('modifiers')}" @click="tabs.set('modifiers')"><a>Modifiers</a></li>
                <li :class="{'is-active': tabs.is('rules')}" @click="tabs.set('rules')"><a>Rules</a></li>
            </ul>
        </div>

        <component :is="tabs.current + '-tab'"
                   :product="product"
                   :all-categories="categories"
        ></component>


    </div>
</template>

<style></style>

<script>

    //Components
    import generalTab from './tabs/GeneralTab.vue';
    import modifiersTab from './tabs/ModifiersTab.vue';
    import rulesTab from './tabs/RulesTab.vue';
    import imagesTab from './tabs/ImagesTab.vue';

    //Helpers
    import Tabs from '../../../helpers/Tabs';

    export default {
        props: [
            'product',
            'categoriesInit',
        ],
        data() {
            return {
                tabs: new Tabs(['general', 'images', 'modifiers', 'rules'], 'general'),
                busy: false,
                categories: [],
            }
        },
        methods: {

        },
        computed: {
        },
        mounted() {
            this.categories = this.categoriesInit;
        },
        components: {
            //TABS
            generalTab,
            modifiersTab,
            rulesTab,
            imagesTab,
        }
    }
</script>
