<template>
    <div class=''>

        <a :href="createProductUrl" class="button" >create product</a>

        <products-list :products="products" @deleted="removeProduct"></products-list>

    </div>
</template>

<style></style>

<script>

    //Components
    import ProductsList from './ProductsList.vue';

    export default {
        props: ['productsInit'],
        data() {
            return {
                products: [],
            }
        },
        methods: {
            removeProduct(productToRemove){
                this.products = this.products.filter(product => {
                    return product.id !== productToRemove.id;
                });
            }
        },
        computed: {
            createProductUrl(){
                return route('products.create');
            }
        },
        mounted() {
            this.products = this.productsInit;
        },
        components: {
            ProductsList,
        }
    }
</script>
