<template>
    <div class="section">

        <div v-for="product in products" :key="product.id" class="media">
            <div class="media-content">

                <a :href="getRouteProductEdit(product)">

                    <strong>ID:{{ product.id }}, {{ product.title }} </strong>
                </a>
            </div>
            <div class="media-right">
                <span class="delete" @click="deleteProduct(product)"></span>
            </div>

        </div>

    </div>
</template>

<style></style>

<script>

    export default {
        props: ['products'],
        data() {
            return {
            }
        },
        methods: {
            getRouteProductEdit(product){
                return route('products.edit', {product: product});
            },
            deleteProduct(productToDelete){
                axios.delete(route('products.destroy', {product: productToDelete}))
                    .then(res => {
                        if (res.status === 200){
                            this.$emit('deleted', productToDelete)
                        }
                    })
            }
        },
        computed: {},
        mounted() {},
        components: {}
    }
</script>
