<template>
    <div class='media'>
        <div class="media-left">
            <figure class="image">
                <img :src="'/storage/'"/>
            </figure>
        </div>
        <div class="media-content">
            <h3 class="is-3" v-text="item.product.title"></h3>
            <p>Price: {{ item.product.price }}</p>
            <div v-for="modifierOptions in item.cartItemModifiers" >

                <div v-if="modifierOptions.length">

                    <strong v-text="modifierOptions[0].modifier_name + ':'"></strong>

                    <span v-for="option in modifierOptions">

                        {{ option.mod_option_name }} - <strong v-text="'+' + option.rise "></strong>

                    </span>

                </div>


            </div>

            <div v-for="modifierInput in item.cartItemInputs">

                <strong v-text="modifierInput.modifier_name + ':'"></strong>

                <span v-text="modifierInput.data.inputData"></span>
            </div>
            <p><strong>{{ itemPrice }} грн. * {{ item.quantity }} = <span class="tag is-success">{{ total }} грн.</span></strong> </p>
        </div>
        <div class="media-right">
            <el-input-number v-model="item.quantity" @change="handleChangeItemQuantity" :min="1" :max="10"></el-input-number>

            <span class="delete" @click="deleteItem"></span>

        </div>

    </div>
</template>

<style></style>

<script>



    export default {
        props: ['item', 'index'],
        data() {
            return {}
        },
        methods: {
            deleteItem(){
                axios.delete(route('cart.remove_item'), { data: {'index': this.index}})
                    .then(res => {
                        if (200 === res.status){
                            this.$emit('removed', this.index);
                            this.$eventsBus.$emit('remove-cart-item', this.index);
                        }
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
            handleChangeItemQuantity(value){
                axios.put(route('cart.update_quantity'), {'index': this.index, 'quantity': value})
                    .catch(error => {
                        console.log(error.response.data);
                    })
            },

        },
        computed: {
            itemPrice(){
                return this.item.product.price + _.sum(this.item.cartItemModifiers.map(mod => {
                    return _.sum(mod.map(option => {
                        return option.rise;
                    }))
                }));
            },
            total(){
                return this.itemPrice * this.item.quantity;
            }
        },
        mounted() {
        },
        components: {
        }
    }
</script>
