<template>

    <span class="cart-widget">
        <i class='el-icon-goods'></i>
        <span v-text="countItems ? 'Корзина: ' + countItems : 'Корзина пуста'"></span>
    </span>

</template>

<style></style>

<script>

    export default {
        props: ['cartItems'],
        data() {
            return {
                items: [],
            }
        },
        methods: {},
        computed: {
            countItems(){
                return this.items.length;
            },
        },
        mounted() {
            this.items = this.cartItems;

            this.$eventsBus.$on('add-cart-item', item => {
                this.items.push(item);
            });

            this.$eventsBus.$on('remove-cart-item', index => {
                this.items.splice(index, 1);
            });
            this.$eventsBus.$on('clear-cart', () => {
               this.items = [];
            });
        },
        components: {}
    }
</script>
