<template>

<div class="cart-page-content-holder">
    <h3 class="title is-3" v-text="'Корзина товаров'"></h3>

    <el-row>
        <el-col :span="24" style="padding-bottom: 20px">

            <el-table
                    :data="cart.items()"
                    empty-text="В корзине пусто!">


                <el-table-column
                        label="Изображение">

                    <template slot-scope="scope">
                        <span>
                            <img v-if="scope.row.product.images" :src="scope.row.product.images[0] | imageThumbUrl">
                        </span>
                    </template>

                </el-table-column>


                <el-table-column
                        label="Товар">

                    <template slot-scope="scope">
                        <h3 class="is-3" v-text="scope.row.product.title"></h3>
                        <p>Price: {{ scope.row.product.price }}</p>

                    </template>

                </el-table-column>

                <el-table-column
                        label="Дополнительно">

                    <template slot-scope="scope">
                        <div v-for="modifierOptions in scope.row.cartItemModifiers" >

                            <div v-if="modifierOptions.length">

                                <strong v-text="modifierOptions[0].modifier_name + ':'"></strong>

                                <span v-for="option in modifierOptions">

                            {{ option.mod_option_name }} <strong v-if="option.rise" v-text="'- +' + option.rise + 'грн.'"></strong>

                        </span>

                            </div>


                        </div>

                        <div v-for="modifierInput in scope.row.cartItemInputs">

                            <strong v-text="modifierInput.modifier_name + ':'"></strong>

                            <span v-text="modifierInput.data.inputData"></span>
                        </div>
                    </template>

                </el-table-column>


                <el-table-column
                        label="Количество">

                    <template slot-scope="scope">

                        <el-input-number
                                v-model="scope.row.quantity"
                                @change="changeQuantity(scope.$index, scope.row.quantity)"
                                :min="1"
                                :max="10">

                        </el-input-number>

                    </template>

                </el-table-column>

                <el-table-column
                        width="100px"
                        label="Удалить">
                    <template slot-scope="scope">

                        <span class="delete" @click="deleteItem(scope.$index)"> </span>

                    </template>
                </el-table-column>

            </el-table>
        </el-col>
    </el-row>

    <el-row v-if="cart.items().length">
        <el-col :span="24">

            <a class="button is-pulled-right is-success" :href="checkoutUrl">Оформит заказ {{ cart.total() }} грн.</a>

        </el-col>
    </el-row>


</div>

</template>

<style></style>

<script>

    //Components
    import CartItem from './CartItem';

    //Helpers
    import Cart from '../../helpers/Cart';

    export default {
        props: ['cartItems'],
        data() {
            return {
                cart: new Cart(this.cartItems),
            }
        },
        methods: {
            removedItem(index){
                this.cart.removeItem(index);
            },
            changeQuantity(index, quantity){
                axios.put(route('cart.update_quantity'), {'index': index, 'quantity': quantity})
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
            deleteItem(index){
                axios.delete(route('cart.remove_item'), { data: {'index': index}})
                    .then(res => {
                        if (200 === res.status){
                            this.removedItem(index);
                            this.$eventsBus.$emit('remove-cart-item', index);
                        }
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
        },
        computed: {
            checkoutUrl(){
                return route('checkout.show');
            },
        },
        mounted() {
        },
        components: {
            CartItem,
        }
    }
</script>
