<template>
    
</template>

<script>
    export default {
        props: [],
        data() {
            return {};
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>

<style scoped>

</style>