<template>
    <div>
        <el-table :data="orders" style="width: 100%">


            <el-table-column
                    type="expand">

                <template slot-scope="props">

                    <show-order :order="props.row" :is-admin="0"> </show-order>
                </template>

            </el-table-column>

            <el-table-column
                    prop="id"
                    label="№"
                    width="80">
            </el-table-column>

            <el-table-column
                    prop="shipping.name"
                    label="Доставка"
                    width="140">
            </el-table-column>

            <el-table-column
                    prop="payment.name"
                    label="Оплата"
                    width="140">
            </el-table-column>

            <el-table-column
                    prop="cart_items"
                    :formatter="cartItemsFormatter"
                    label="Корзина"
                    width="250">
            </el-table-column>

            <el-table-column
                    prop="created_at"
                    label="Дата заказа"
                    width="180">
            </el-table-column>

            <el-table-column
                    prop="status.name"
                    label="Статус"
                    width="120">
            </el-table-column>

        </el-table>

    </div>
</template>

<script>

    //Components
    import ShowOrder from '../../admin/orders/ShowOrder';

    //Helpers
    import Cart from '../../../helpers/Cart';

    export default {
        props: ['user'],
        data() {
            return {
            };
        },
        methods: {
            getRowCart(row){
                return new Cart(row.cart_items);
            },
            cartItemsFormatter(row, column, cellValue, index){
                //let cart = new Cart(row.cart_items);
                let cart = this.getRowCart(row);
                return 'Товаров: ' + cart.items().length + ', на сумму ' + cart.total() + '.грн';
            }
        },
        computed: {
            orders(){
                return this.user.orders;
            }
        },
        mounted() {
        },
        components: {
            ShowOrder,
        }
    }
</script>

<style scoped>

</style>