<template>
    <owl-carousel :items="4" :nav="false" :autoplay="true" :autoplaySpeed="true">

        <el-card
                v-for="image in widget.images"
                :key="image.id"
                :body-style="{ padding: '0px' }">

            <img :src="image | imageThumbUrl('medium')"/>
            <div class="body" v-text="image.title" v-if="image.title"></div>

        </el-card>

    </owl-carousel>
</template>

<script>
    import OwlCarousel from 'vue-owl-carousel'


    export default {
        props: ['widget'],
        data() {
            return {};
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {
            OwlCarousel,
        }
    }
</script>

<style scoped>
    .image-carousel .el-card{
        margin: 10px;
    }
    .image-carousel .body{
        padding: 10px;
        font-weight: 700
    }
</style>