<template>
    <div>
        <masonry :cols="4" :gutter="20">
            <div v-for="image in widget.images"
                 :key="image.id"
                class="masonry-image">

                <img v-img="{src: '/storage/' + image.patch, group: 'masonry-gallery'}" :src="image | imageThumbUrl('medium')"/>
                <div class="body" v-text="image.title" v-if="image.title"></div>

            </div>
        </masonry>

    </div>

</template>

<script>

    export default {
        props: ['widget'],
        data() {
            return {};
        },
        methods: {},
        computed: {},
        mounted() {


        },
        components: {
        }
    }
</script>

<style scoped>
    .masonry-image{
        border: 1px solid #ebeef5;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        color: #303133;
        border-radius: 4px;
    }
</style>