<template xmlns="http://www.w3.org/1999/html">
    <div class='checkout-summary' v-loading="orderCreating">

        <h3 class="title is-3">Итого:</h3>

        <ul>
            <li v-for="(item , index) in cart.items()" :key="index">
                <strong v-text="item.product.title"></strong> - <span v-text="cart.getItemTotalPrice(item) + 'грн.'"></span>
            </li>
        </ul>

        <p class="cart-summary">

            В корзине <strong v-text="cart.items().length"></strong> позиций на сумму <strong v-text="cart.total()"></strong> грн.

        </p>


        <h6>Ваши контакты:</h6>
        <p class="info-box">
            {{ contacts.first_name }} {{ contacts.last_name }} <br/>
            {{ contacts.email}}, {{ contacts.phone }}
        </p>

        <h6>Способ доставки:</h6>
        <p class="info-box">
            {{ shipping.model.name }}<br/>

            <span v-if="'nova_poshta' === shipping.model.slug">г.{{ shipping.meta.city_name}}, {{ shipping.meta.warehouse_name}}</span>
        </p>

        <h6>Способ оплаты:</h6>
        <p class="info-box">
            {{ payment.name }}
        </p>

        <h6>Комментарии:</h6>
        <p>
            <el-input
                    autosize
                    type="textarea"
                    :autosize="{ minRows: 4, maxRows: 8}"
                    placeholder="Напишите Ваши замечания"
                    v-model="checkout.comment">
            </el-input>
        </p>


        <el-button type="success" @click="createOrder">Подтвердить заказ</el-button>
    </div>
</template>

<style></style>

<script>

    //Helpers
    import Cart from '../../../helpers/Cart';

    export default {
        props: ['cartItems', 'checkout'],
        data() {
            return {
                cart: new Cart(this.cartItems),
                orderCreating: false,
            }
        },
        methods: {
            createOrder(){
                this.orderCreating = true;
                axios.post(route('checkout.order'), this.checkout.dataForOrderCreation())
                    .then(res => {
                        if (201 === res.status){
                            this.$emit('confirmed', {order: res.data});
                            this.$eventsBus.$emit('clear-cart');
                            this.orderCreating = false;
                        }
                    })
                    .catch(error => {
                        console.dir(error.response.data);
                        this.orderCreating = false;
                    });

                console.log(this.checkout.dataForOrderCreation());
            }
        },
        computed: {
            contacts(){
                return this.checkout.contacts;
            },
            shipping(){
                return this.checkout.shipping;
            },
            payment(){
                return this.checkout.payment;
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
