<template>

    <form @submit.prevent="sendForm">

        <div class="field">
            <label class="label" v-text="'Имя'"></label>
            <div class="control">
                <input  class="input" :class="{'is-danger': form.errors.has('first_name')}" type="text" v-model="form.first_name" name="first_name" required/>
            </div>
            <p class="help is-danger" v-if="form.errors.has('first_name')" v-text="form.errors.get('first_name')"></p>
        </div>

        <div class="field">
            <label class="label" v-text="'Фамилия'"></label>
            <div class="control">
                <input type="text" v-model="form.last_name" name="last_name" class="input" :class="{'is-danger': form.errors.has('last_name')}"  required/>
            </div>
        </div>

        <div class="field">
            <label class="label" v-text="'Телефон'"></label>
            <div class="control">
                <input type="tel" class="input" v-model="form.phone" name="phone" :class="{'is-danger': form.errors.has('phone')}"  required/>
            </div>
        </div>

        <div class="field">
            <label class="label" v-text="'Email'"></label>
            <div class="control">
                <input type="email" class="input" v-model="form.email" name="email" :class="{'is-danger': form.errors.has('email')}"  required/>
            </div>
        </div>

        <div class="field">
            <label class="label"></label>
            <div class="control">
                <button class="button is-success" @click.native.prevent="sendForm" >Подтвердить</button>
            </div>
        </div>

    </form>

</template>

<style></style>

<script>

    import Form from '../../../helpers/Form';

    export default {
        props: [],
        data() {
            return {
                form : new Form({
                    first_name: '',
                    last_name: '',
                    phone: '',
                    email: '',
                },  [
                    'first_name',
                    'last_name',
                    'phone',
                    'email',
                ])
            }
        },
        methods: {
            sendForm(){
                this.form.post(route('checkout.validation.contacts'))
                    .then(data => {
                        this.$emit('validated', {contacts: this.form.data()});
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
