<template>
    <div class=''>
        <h1 class="title is-1">Спасибо за оформление заказа!</h1>

        <h3 class="subtitle is-3">Наш менеджер свяжется с Вами для подтверждения заказа</h3>
        <p>
            <a :href="homeUrl">Вернуться в магазин</a>
        </p>
    </div>
</template>

<style></style>

<script>

    export default {
        props: ['checkout'],
        data() {
            return {}
        },
        methods: {},
        computed: {
            homeUrl(){
                return route('home');
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
