<template>

    <el-tabs type="card" :value="form.payment_slug" @tab-click="handleTabClick">
        <el-tab-pane
                v-for="payment in payments"
                :key="payment.id"
                :name="payment.slug"
                :label="payment.name">

            <p class="payment-description">
                <strong v-text="selectedPayment.name"></strong>
                {{ selectedPayment.description }}
            </p>

            <el-button v-text="'Подтвердить'" type="success" @click="validatePayment"> </el-button>

        </el-tab-pane>
    </el-tabs>


</template>

<style>
</style>

<script>

    //Helpers
    import Form from '../../../helpers/Form';


    export default {
        props: ['payments'],
        data() {
            return {
                form: new Form({
                    payment_slug: 'cash',
                },
                ['payment_slug']
                ),
            }
        },
        methods: {
            validatePayment(){
                this.form.post(route('checkout.validation.payment'))
                    .then(data => {
                        this.$emit('validated', {payment: this.selectedPayment})
                    });
            },
            handleTabClick(tab){
                this.form.payment_slug = tab.name;
            }
        },
        computed: {
            selectedPayment(){
                return this.payments.find(payment => {
                    return payment.slug === this.form.payment_slug;
                });
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
