<template>

    <el-tabs type="card" :value="form.shipping_slug" @tab-click="handleTabClick">
        <el-tab-pane
                v-for="shipping in shippings"
                :key="shipping.id"
                :name="shipping.slug"
                :label="shipping.name">

            <component :is="form.shipping_slug" :form="form" :shipping="selectedShipping"> </component>

            <el-button @click="sendForm" type="success">Подтвердить</el-button>

        </el-tab-pane>
    </el-tabs>

</template>

<style></style>

<script>

    //Helpers
    import Form from '../../../helpers/Form';

    //Components
    import NovaPoshta from '../shippings/NovaPoshta';
    import Courier from '../shippings/Courier';

    export default {
        props: ['shippings'],
        data() {
            return {
                form: new Form({
                    shipping_slug: 'nova_poshta',
                    meta: {}
                }, [
                    'shipping_slug',
                    'meta',
                ]),
            }
        },
        methods: {
            sendForm(){
                this.form.post(route('checkout.validation.shipping'))
                    .then(data => {
                        this.$emit('validated', {'shipping': {
                            model: this.selectedShipping,
                            meta: this.form.meta,
                        }});
                    })
                    .catch(error => {
                        console.log(error.response);
                    })
            },
            handleTabClick(tab, event){
                console.log(tab.name);
                this.form.shipping_slug = tab.name;
            }
        },
        computed: {
            selectedShipping(){
                return this.shippings.find(shipping => {
                    return shipping.slug === this.form.shipping_slug;
                });
            }
        },
        mounted() {
        },
        components: {
            nova_poshta: NovaPoshta,
            Courier,
        }
    }
</script>
