<template>
    <el-form @submit.native.prevent="createRule" :inline="true">

        <el-form-item>

            <el-select v-model="form.toggle_id" placeholder="Select">
                <el-option
                        v-for="toggle_mod in modifiers"
                        :key="toggle_mod.id"
                        :value="toggle_mod.id"
                        :label="toggle_mod.name">
                </el-option>
            </el-select>

        </el-form-item>

        <el-form-item>
            <el-select v-model="form.toggle_option_id" placeholder="select">

                <el-option
                        v-for="toggle_option in toggleOptions"
                        :key="toggle_option.id"
                        :value="toggle_option.id"
                        :label="toggle_option.name">
                </el-option>

            </el-select>
        </el-form-item>

        <el-form-item>
            <el-select v-model="form.target_id" placeholder="select">

                <el-option
                        v-for="target in targets"
                        :key="target.id"
                        :value="target.id"
                        :label="target.name">
                </el-option>

            </el-select>

        </el-form-item>


        <el-form-item>
            <el-select v-model="form.action" placeholder="select">

                <el-option
                        v-for="action in actions"
                        :key="action.alias"
                        :value="action.alias"
                        :label="action.name">
                </el-option>

            </el-select>

        </el-form-item>


        <el-form-item>
            <el-button @click="createRule" :loading="form.busy">Create</el-button>
        </el-form-item>

        <num-range-config
                v-if="'num_range' === form.action"
                :form="form">
        </num-range-config>

    </el-form>
</template>

<style></style>

<script>

    //Components
    import NumRangeConfig from './configs/NumRange';

    //Helpers
    import Form from '../../../helpers/Form';

    export default {
        props: ['product'],
        data() {
            return {
                form: new Form({
                    product_id: this.product.id,
                    toggle_id: '',
                    toggle_option_id: '',
                    target_id: '',
                    action: '',
                    config: {},
                },
                ['product_id']),
                actions:[
                    {
                        name: 'Hide',
                        alias: 'hide',
                    },
                    {
                        name: 'Disable',
                        alias: 'disable',
                    },
                    {
                        name: 'Number Range',
                        alias: 'num_range',
                    }
                ]
            }
        },
        methods: {
            createRule(){
                this.form.post(route('mod_rules.store_for_product', {product: this.product}))
                    .then(rule => {
                        this.$emit('created', rule);
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
        },
        computed: {
            modifiers(){
                return this.product.modifiers;
            },
            toggles(){
                return this.modifiers.filter(mod => {
                    return mod.id !== this.form.target_id;
                });
            },
            targets(){
                return this.modifiers.filter(mod => {
                    return mod.id !== this.form.toggle_id;
                });
            },
            toggleOptions(){
                let toggleMod =  this.modifiers.find(mod => {
                    return mod.id === this.form.toggle_id;
                });

                return (_.isUndefined(toggleMod)) ? [] : toggleMod.mod_options;
            }
        },
        mounted() {
        },
        components: {
            NumRangeConfig,
        }
    }
</script>
