<template>
    <div>
        <div class='media' v-for="rule in rules" :key="rule.id">
            <div class="media-content">
                If
                <strong>{{ getModifier(rule.toggle_id).name }}</strong>

                is set to
                <strong>{{ getModOption(rule.toggle_id, rule.toggle_option_id).name }}</strong>

                then
                <strong>{{ getModifier(rule.target_id).name }}</strong>

                is
                <strong>{{ rule.action }}</strong>


                <div v-if="rule.config && 'num_range' === rule.action ">
                    <strong>from {{ rule.config.min }} to {{ rule.config.max}}</strong>
                </div>
            </div>

            <div class="media-right">
                <button class="delete" @click.prevent="deleteRule(rule)"></button>
            </div>
        </div>
    </div>
</template>

<style></style>

<script>


    export default {
        props: ['rules', 'product'],
        data() {
            return {}
        },
        methods: {
            getModifier(id){
                return this.modifiers.find(mod => {
                    return mod.id === id;
                });
            },
            getModOption(modifierId, optionId){
                return this.getModifier(modifierId).mod_options.find(option => {
                    return option.id === optionId;
                });
            },
            deleteRule(ruleToDelete){
                axios.delete(route('mod_rules.destroy', {mod_rule: ruleToDelete}))
                    .then(res => {
                        this.$emit('deleted', ruleToDelete);
                    })
            }
        },
        computed: {
            modifiers(){
                return this.product.modifiers;
            },
        },
        mounted() {
        },
        components: {
        }
    }
</script>
