<template>
    <div>

        <create-mod-rule @created="addRule" :product="product"></create-mod-rule>

        <mod-rules-list :rules="rules" @deleted="removeRule" :product="product"></mod-rules-list>

    </div>
</template>

<style></style>

<script>

    //Component
    import CreateModRule from './CreateModRule.vue';
    import ModRulesList from './ModRulesList.vue';

    export default {
        props: ['product'],
        data() {
            return {
                rules: {},
            }
        },
        methods: {
            setProductRules(rules){
                this.product.mod_rules = rules;
            },
            addRule(rule){
                this.rules.push(rule);
                this.setProductRules(this.rules);
            },
            removeRule(ruleToRemove){
                this.rules = this.rules.filter(rule => {
                    return rule.id !== ruleToRemove.id;
                });
                this.setProductRules(this.rules);
            }
        },
        computed: {

        },
        mounted() {
            this.rules = this.product.mod_rules;
        },

        components: {
            CreateModRule,
            ModRulesList,
        }
    }
</script>
