<template>

    <div class="category-page-content">
        <el-row class="category-meta">
            <h1 class="title" v-text="category.name"></h1>
            <h2 class="subtitle" v-text="category.description"></h2>
        </el-row>

        <masonry
                :cols="{default: 4, 1000: 3, 700: 2, 400: 1}"
                :gutter="{default: '20px', 700: '10px'}">

            <product :product="product" v-for="product in category.products" :key="product.id"></product>

        </masonry>

    </div>

</template>

<style></style>

<script>

    //Components
    import Product from '../products/ColumnsView.vue';

    export default {
        props: ['category'],
        data() {
            return {}
        },
        methods: {},
        computed: {
            products(){
                return _.chunk(this.category.products, 5);
            }
        },
        mounted() {
        },
        components: {Product}
    }
</script>
