<template>
    <div>

        <el-select v-model="widget.template" @change="updateWidget">

            <el-option
                v-for="template in templates"
                :key="template"
                :value="template"
                :label="template">
            </el-option>

        </el-select>
        <el-upload
                class="upload-demo"
                :on-success="handleSuccess"
                name="image"
                :show-file-list="false"
                :headers="headers"
                :action="uploadImageUrl"
                multiple>
            <el-button size="small" type="primary">Click to upload</el-button>
        </el-upload>
        <el-row :gutter="10">

            <el-col :span="8" v-for="image in widget.images" :key="image.id">
                <el-card :body-style="{padding: '0px', margin: '10px'}" >

                    <img class="widget-image" :src="'/storage/' + image.patch">

                    <el-input placeholder="title" v-model="image.title" @change="updateImage(image)"></el-input>
                    <el-input placeholder="description" v-model="image.description" @change="updateImage(image)"></el-input>

                    <span class="delete-image" @click="deleteImage(image)">delete</span>
                </el-card>

            </el-col>
        </el-row>
    </div>

</template>

<script>
    //Helper
    import Form from '../../../../../../helpers/Form';

    export default {
        props: ['widget'],
        data() {
            return {
                templates: ['carousel', 'masonry-gallery'],
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            };
        },
        methods: {

            updateWidget(){
                this.$emit('update-widget');
            },
            handleSuccess(res, file) {
                this.widget.images.push(res);
            },
            deleteImage(image){
                axios.delete(route('images.destroy', {image: image}))
                    .then(res => {
                        this.widget.images = this.widget.images.filter(i => { return i.id !== image.id});
                    })
            },
            updateImage(image){
                let imageForm = new Form(image)
                    .put(route('images.update', {image: image}))
                    .then(data => {
                        this.$message('image updated');
                    });
            },
        },
        computed: {
            uploadImageUrl(){
                return route('widgets.store_image', {widget: this.widget});
            },
        },
        mounted() {
        },
        components: {}
    }
</script>

<style scoped>
    .delete-image{
        color: darkred;
        cursor: pointer;
    }
</style>