<template>
    <div>
        <el-select multiple v-model="form.products_ids" @change="syncProducts" v-loading="form.busy">

            <el-option
                v-for="product in products"
                :key="product.id"
                :value="product.id"
                :label="'id: ' + product.id + ' ' + product.title">
            </el-option>
        </el-select>
    </div>
</template>

<script>

    //Helpers
    import Form from '../../../../../../helpers/Form';

    export default {
        props: ['widget'],
        data() {
            return {
                products: [],
                form: new Form({
                    products_ids : [],
                })
            };
        },
        methods: {
            syncProducts(){
                this.form.put(route('widgets.sync_products', {widget: this.widget}));
            }
        },
        computed: {},
        mounted() {
            axios.get(route('products.index'))
                .then(res => {
                    this.products = res.data;
                });
            this.form.products_ids = this.widget.products.map(p => {return p.id});

        },
        components: {}
    }
</script>

<style scoped>

</style>