<template>

    <div class="column is-6 is-offset-3">
        <h1 class="title is-1">Авторизация</h1>

        <div class="subtitle">Нет аккаунта? <a :href="registerUrl">Зарегестрироваться</a></div>

        <el-form :model="form.data()" ref="form" @submit.native.prevent="handleLogin">

            <el-form-item label="Имеил" :error="form.errors.show('email')">

                <el-input type="email" v-model="form.email" name="email" placeholder="Ваш имеил"> </el-input>

            </el-form-item>

            <el-form-item label="Пароль" :error="form.errors.show('password')">

                <el-input type="password" v-model="form.password" name="password" placeholder="Пароль"> </el-input>

            </el-form-item>

            <el-form-item>
                <el-checkbox label="Запомнить меня" name="remember" v-model="form.remember"> </el-checkbox>
            </el-form-item>

            <el-form-item>

                <el-button class="pull-right login-button" @click="handleLogin">Авторизация</el-button>
            </el-form-item>

            <el-form-item class="has-text-centered">
                <a :href="resetPasswordUrl" >Забыли пароль?</a>
            </el-form-item>

        </el-form>
    </div>

</template>

<style></style>

<script>


    //Helpers
    import Form from '../../helpers/Form';
    export default {
        props: [],
        data() {
            return {
                form: new Form({
                    email: '',
                    password: '',
                    remember: 0,
                }),
            }
        },
        methods: {
            handleLogin(){
                this.form.post(route('login'))
                    .then(data => {
                       location.reload();
                    });
            }
        },
        computed: {
            registerUrl(){
                return route('register');
            },
            resetPasswordUrl(){
                return route('password.request')
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
