<template>

    <div class="column is-6 is-offset-3">
        <h1 class="title is-1 is-centered">Регистрация</h1>

        <div class="subtitle">Есть аккаунт? <a :href="loginUrl">Авторизируйтесь</a></div>

        <el-form :model="form.data()" ref="form" @submit.native.prevent="register" label-width="120px">

            <el-form-item label="Имя" :error="form.errors.show('first_name')">

                <el-input type="text" v-model="form.first_name" name="first_name" placeholder="Ваше имя"> </el-input>

            </el-form-item>

            <el-form-item label="Имеил" :error="form.errors.show('email')">

                <el-input type="email" v-model="form.email" name="email" placeholder="Ваш имеил"> </el-input>

            </el-form-item>

            <el-form-item label="Пароль" :error="form.errors.show('password')">

                <el-input type="password" v-model="form.password" name="password" placeholder="Пароль"> </el-input>

            </el-form-item>

            <el-form-item label="Пароль еще раз">

                <el-input type="password" v-model="form.password_confirmation" name="password_confirmation" placeholder="Подтвердите пароль"> </el-input>

            </el-form-item>

            <el-button class="pull-right" @click="register">Регистрация</el-button>

        </el-form>
    </div>
</template>

<style></style>

<script>

    //Helpers
    import  Form from '../../helpers/Form'

    export default {
        props: [],
        data() {
            return {
                form: new Form({
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }),
            }
        },
        methods: {
            register(){
                this.form.post(route('register'))
                    .then(data => {
                        location.reload();
                    });
            }
        },
        computed: {
            loginUrl(){
                return route('login')
            },
        },
        mounted() {
        },
        components: {}
    }
</script>
