<template>
    <div class="featured-products">

        <h3 class="title" v-text="widget.title" v-show="widget.title"></h3>
        <carousel :items="4" :nav="false" :autoplay="true" :autoplaySpeed="true" :autoWidth="true">

            <el-card
                    v-for="product in widget.products"
                    :key="product.id"
                    :body-style="{ padding: '0px' }"
            >
                <a :href="productLink(product)">
                    <img  :src="productImage(product) | imageThumbUrl('medium')"/>
                    <div class="body" v-text="product.title"></div>
                </a>
            </el-card>

        </carousel>


    </div>
</template>

<script>

    //Components
    import Carousel from 'vue-owl-carousel'

    export default {
        props: ['widget'],
        data() {
            return {};
        },
        methods: {
            productImageUrl(product){
                return this.productImage(product) ? this.productImage(product).patch : null;
            },
            productImage(product){
                return _.first(product.images)
            },
            productLink(product){
                return route('products.show', {product: product});
            }
        },
        computed: {

        },
        mounted() {
        },
        components: {
            Carousel,
        }
    }
</script>

<style scoped>

    .featured-products .el-card{
        margin: 10px;
    }
    .featured-products .body{
        padding: 10px;
        font-weight: 700
    }

</style>