<template>
    <orders-list :orders="orders"> </orders-list>
</template>

<style></style>

<script>

    //Components
    import OrdersList from './OrdersList';

    export default {
        props: ['ordersInit'],
        data() {
            return {
                orders: [],
            }
        },
        methods: {},
        computed: {},
        mounted() {
            this.orders = this.ordersInit;
        },
        components: {
            OrdersList,
        }
    }
</script>
