<template>
    <el-table
            :data="orders"
            style="width: 100%"
            @row-click="handleRowClick">
        <el-table-column
                prop="id"
                label="Id"
                width="40">
        </el-table-column>

        <el-table-column
                label="Contacts">
            <template slot-scope="scope">
                <strong><span v-text="fullName(scope.row)"></span></strong><br/>
                <span v-text="scope.row.email"></span><br/>
                <span v-text="scope.row.phone"></span><br/>
            </template>
        </el-table-column>

        <el-table-column
            prop="created_at"
            label="Date">
        </el-table-column>

        <el-table-column
            label="Status"
            width="120">
            <template slot-scope="scope">
                <span v-text="scope.row.status.name"> </span>
            </template>
        </el-table-column>
    </el-table>
</template>

<style></style>

<script>

    export default {
        props: ['orders'],
        data() {
            return {}
        },
        methods: {
            fullName(order){
                return order.first_name + ' ' + order.last_name;
            },
            handleRowClick(row, column, cell, event){
                window.location.href = route('orders.show', {order: row});
            },
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
