<template>
    <div>
        <h3 class="title is-3" v-text="'Заказ #' + order.id"></h3>
        <el-row :gutter="20">
            <el-col :span="6">
                <h4 class="title is-4">Контакты</h4>
                {{ order.first_name }} {{ order.last_name }},
                <br>
                email: {{ order.email }},
                <br>
                телефон: {{ order.phone }};
            </el-col>
            <el-col :span="6">
                <h4 class="title is-4">Доставка</h4>
                {{ order.shipping.name }}
                {{ order | shippingMeta }}
            </el-col>
            <el-col :span="6">
                <h4 class="title is-4">Оплата</h4>
                {{ order.payment.name }}
            </el-col>
            <el-col :span="6">
                <h4 class="title is-4">Комментарии</h4>
                {{ order.comment }}

            </el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="12">
                <h4 class="title is-4">Корзина</h4>

                <div class="cart-item-details box" v-for="item in cart.items()" :key="item.id">
                    <h4 class="title is-4" v-text="item.product.title"></h4>
                    <h6 class="subtitle is-6" v-text="item.product.price + 'грн.'"></h6>

                    <img v-if="item.product.images" :src="item.product.images[0] | imageThumbUrl">

                    <div class="modifiers">
                        Modifiers:
                        <div
                                v-for="modifier in item.modifiers"
                                :key="modifier.id">
                    <span>
                    {{modifier.modifier_name}} - {{modifier.mod_option_name}} {{ modifier.rise === 0 ? '' : '+' + modifier.rise }}
                    </span>
                            <br/>
                        </div>
                    </div>
                    <div class="inputs">
                        <div v-for="input in item.inputs" :key="input.id">
                            <span>{{ input.modifier_name }}: {{ input | modifierInputData }}</span>
                        </div>
                    </div>
                    <strong class="total" >Всего: {{ cart.getItemTotalPrice(item)}} грн.</strong>
                </div>
            </el-col>
            <el-col :span="12" v-if="isAdmin">
                <h4 class="title is-4">Tools</h4>
            </el-col>
        </el-row>

        <h4 class="is-4 title">Общая сумма заказа: {{ cart.total()}} грн.</h4>

    </div>
</template>

<script>

    //Helpers
    import Cart from '../../../helpers/Cart';

    export default {
        props: ['order', 'isAdmin'],
        data() {
            return {
                cart: new Cart(this.order.cart_items),
            };
        },
        methods: {},
        filters: {
            modifierInputData(input){
                if ('text' === input.type){
                    return input.data['inputData'];
                } else {
                    return '';
                }
            },
            shippingMeta(order){
                if ('nova_poshta' === order.shipping.slug){
                    let meta = 'г. ' + order.shipping_meta.city_name + ', ';
                    meta = meta + order.shipping_meta.warehouse_name;
                    return meta;
                }
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>

<style scoped>

</style>