<template>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static" v-text="price + ' грн.'">

                        </a>
                    </p>
                    <p class="control">
                        <button class="button is-success" @click="addToCart">В корзину</button>
                    </p>
                </div>
            </div>
        </div>
    </div>


</template>

<style></style>

<script>

    //Helpers
    import Form from '../../helpers/Form';
    import Referee from '../../helpers/Referee';

    //Components
    import ProductPrice from './ProductPrice';

    export default {
        props: ['formModifiers', 'product'],
        data() {
            return {
                quantity: 1,
            }
        },
        methods: {
            addToCart(){
                let form = new Form({
                    quantity: this.quantity,
                    product: this.product,
                    modifiers: this.formModifiers.data(),
                });
                form.post(route('cart.add_item'))
                    .then(res => {
                        this.$eventsBus.$emit('add-cart-item', res);
                        this.$message('Товар добавлен в корзину');
                        mixpanel.track("add to cart", {product: res});

                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        computed: {
            price(){
                let rises = [];

                _.each(this.formModifiers.modifiers, formMod => {
                    let referee = new Referee(this.product.mod_rules, formMod);

                    if (referee.isModifierDisabled(this.formModifiers) || referee.isModifierHidden(this.formModifiers)){
                        rises.push(0)
                    } else {
                        rises.push(formMod.getRise());
                    }
                });

                return _.sum(rises) + this.product.price;
            }
        },
        mounted() {
        },
        components: {
            ProductPrice,
        }
    }
</script>
