<template>

        <div class="card product-card">
            <div class="card-image">
                <a :href="productHref">
                    <img :src="firstImage | imageThumbUrl('medium')" :alt="product.title">
                </a>

            </div>
            <div class="card-content">
                <div class="content" v-text="truncateTitle"></div>
            </div>

            <footer class="card-footer">
                <span class="card-footer-item" v-text="product.price + 'грн.'"></span>
                <a :href="productHref" class="card-footer-item">Подробнее</a>
            </footer>

        </div>

</template>

<style>

    .product-card:hover{
        box-shadow: 0 0 2px #4a4a4a;
    }
</style>

<script>

    export default {
        props: ['product'],
        data() {
            return {}
        },
        methods: {

           
        },
        computed: {
            productHref(){
                return route('products.show', {product: this.product});
            },
            firstImage(){
                return _.first(this.product.images);
            },
            truncateTitle(){
                return _.truncate(this.product.title, {length:22});
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
