<template>
    <span class="tag is-success is-large" v-text="price + ' грн.'"></span>
</template>

<style></style>

<script>

    import Referee from '../../helpers/Referee';

    export default {
        props: ['product', 'formModifiers'],
        data() {
            return {}
        },
        methods: {
        },
        computed: {
            price(){
                let rises = [];

                _.each(this.formModifiers.modifiers, formMod => {
                    let referee = new Referee(this.product.mod_rules, formMod);

                    if (referee.isModifierDisabled(this.formModifiers) || referee.isModifierHidden(this.formModifiers)){
                        rises.push(0)
                    } else {
                        rises.push(formMod.getRise());
                    }
                });

                return _.sum(rises) + this.product.price;
            }
        },
        mounted() {
        },
        components: {}
    }
</script>
