<template>
    <div>
        <h4 class="title is-4 is-spaced" v-text="product.title"></h4>
        <h5 class="subtitle is-6">
            <span class="tag is-light" v-text="'Код: ' + product.code"></span>
        </h5>

    </div>
</template>

<style>
</style>

<script>

    export default {
        props: ['product'],
        data() {
            return {}
        },
        methods: {},
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
