<template>
    <el-tabs v-model="tabName" @tab-click="handleClick">
        <el-tab-pane label="Описание" name="description" v-text="product.description">
        </el-tab-pane>
    </el-tabs>

</template>

<style></style>

<script>

    export default {
        props: ['product'],
        data() {
            return {
                tabName: 'description',
            }
        },
        methods: {
            handleClick(tab){
                this.tabName = tab;
            }
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
