<template>
    <div>

        <product-modifier
                :form-modifier="formModifier"
                v-for="formModifier in formModifiers.modifiers"
                :key="formModifier.getOriginal('id')"
                :form-modifiers="formModifiers"
                :rules="product.mod_rules"
        > </product-modifier>

    </div>
</template>

<style></style>

<script>

    //Components
    import ProductModifier from '../productModifiers/ProductModifier.vue';


    export default {
        props: ['product', 'form', 'formModifiers'],
        data() {
            return {
            }
        },
        methods: {
        },
        computed: {
        },
        mounted() {

        },
        components: {
            ProductModifier,
        }
    }
</script>
