<template>

    <div>

        <el-row :gutter="20">

            <el-col :lg="8" :xs="24">

                <product-images :product="product" :form-modifiers="formModifiers"> </product-images>

                <product-description :product="product"> </product-description>

            </el-col>

            <el-col :lg="8" :xs="24">

                <product-info :product="product" class="product-description-item"> </product-info>

                <add-to-cart :product="product" :form-modifiers="formModifiers" class="product-description-item"> </add-to-cart>

                <product-modifiers :product="product" :form-modifiers="formModifiers" class="product-description-item"> </product-modifiers>

                <add-to-cart v-if="hasModifiers" :product="product" :form-modifiers="formModifiers" class="product-description-item"> </add-to-cart>

            </el-col>

        </el-row>

    </div>

</template>

<style>
    .product-description-item{
        padding-bottom: 15px;
    }
</style>

<script>

    //Components
    import ProductImages from './ProductImages.vue';
    import ProductInfo from './ProductInfo.vue';
    import ProductPrice from './ProductPrice.vue';
    import ProductModifiers from './ProductModifiers.vue'
    import AddToCart from './AddToCart';
    import ProductDescription from './ProductDescription';

    //Helpers
    import FormModifiers from '../../helpers/FormModifiers';

    export default {
        props: ['product'],
        data() {
            return {
                formModifiers: {},
            }
        },
        methods: {
        },
        computed: {
            hasModifiers(){
                return !_.isEmpty(this.formModifiers.modifiers);
            }
        },
        mounted() {
            this.formModifiers = new FormModifiers(this.product);
        },
        components: {
            ProductImages,
            ProductInfo,
            ProductPrice,
            ProductModifiers,
            AddToCart,
            ProductDescription,
        }
    }
</script>
