<template>
    <div class="columns">

        <div class="product-thumbnails-box column is-2">

            <figure  v-for="image in otherProductImages" :key="image.id" class="image product-thumbnails hidden-sm-and-down is-64x64">
                <img v-img="{src: '/storage/' + image.patch, group: 'product-images'}" :src="image | imageThumbUrl">
            </figure>

        </div>
        <div class="column is-8">
            <figure class="image">
                <img v-img:product-images :src="firstProductImage | imageUrl">
            </figure>
        </div>

    </div>

</template>

<style></style>

<script>

    export default {
        props: ['product','formModifiers'],
        data() {
            return {
            }
        },
        methods: {
        },
        computed: {
            allImages(){
                return (this.modifiersImages) ? this.modifiersImages.concat(this.productImages) : this.productImages;
            },
            productImages(){
                return this.product.images;
            },
            firstProductImage(){
                return _.first(this.allImages);
            },
            otherProductImages(){
                return _.slice(this.allImages, 1);
            },
            imagesGroups(){
                //let all = (this.modifiersImages) ? this.otherProductImages.concat(this.modifiersImages) : this.otherProductImages;

                return _.chunk(this.otherProductImages, 4);
            },
            modifiersImages: function () {
                return this.formModifiers.activeOptionsImages;
            },
        },
        mounted() {
        },
        components: {}
    }
</script>