<template>
    <el-row>

        <el-col :span="16">



            <categories-list :categories="categories" :editable="editable" @delete-category="deleteCategory"> </categories-list>


            <!--<div class="column is-6">

                <edit-category v-if="editable.active()" :editable="editable" :categories="categories"> </edit-category>

                <create-category v-else :categories="categories" :route-categories-store="routeCategoriesStore"> </create-category>

            </div>-->

        </el-col>

        <el-col :span="8">
            <create-category :categories="categories"> </create-category>
        </el-col>

    </el-row>

</template>

<style></style>

<script>

    //Component
    import CategoriesList from './CategoriesList.vue';
    import CreateCategory from './CreateCategory.vue'
    import EditCategory from './EditCategory.vue'

    //Helpers
    import Editable from '../../../helpers/Editable';

    export default {
        props: ['categoriesInit', 'routeCategoriesStore'],
        data() {
            return {
                categories: [],
                editable: new Editable(),
            }
        },
        methods: {
            deleteCategory(catToDelete){
                axios.delete(this.routeCategoriesStore + '/' + catToDelete.id)
                    .then(res => {
                        if (this.editable.is(catToDelete)){
                            this.editable.cancel();
                        }

                        this.categories = this.categories.filter(cat => {
                            return catToDelete.id !== cat.id ;
                        })
                    })
            }
        },
        computed: {},
        mounted() {
            this.categories = this.categoriesInit;
        },
        components: {
            CategoriesList,
            CreateCategory,
            EditCategory,
        }
    }
</script>
