<template>
    <form @keydown="categoryForm.errors.clear($event.target.name)">

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" :class="{'is-danger': categoryForm.errors.has('name')}" name="name" v-model="categoryForm.name" />
            </div>
            <div class="help is-danger" v-if="categoryForm.errors.has('name')" v-text="categoryForm.errors.get('name')"></div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" :class="{'is-danger': categoryForm.errors.has('description')}" name="description" v-model="categoryForm.description"></textarea>
            </div>
            <div class="help is-danger" v-if="categoryForm.errors.has('description')" v-text="categoryForm.errors.get('description')"></div>
        </div>

        <el-select v-model="categoryForm.parent_id" placeholder="Select parent category" no-data-text="No categories" clearable>

            <el-option v-for="category in categories" :key="category.id" :label="category.name" :value="category.id"> </el-option>

        </el-select>


    </form>
</template>

<style></style>

<script>

    export default {
        props: ['categoryForm', 'categories'],
        data() {
            return {
            }
        },
        methods: {
        },
        computed: {},
        mounted() {
        },
        components: {}
    }
</script>
