<template>
    <div class='section'>

        <div class="media" v-for="category in categories" :key="category.id">
            <div class="media-left">
                <strong v-text="category.name"></strong>
            </div>
            <div class="media-body">
                <p v-text="category.description"></p>
                <p>
                    children:
                    <span v-for="child in category.children" v-text="child.name"></span>
                </p>
            </div>
            <div class="media-right">
                <a class="button" :href="editCategoryUrl(category)" >edit</a>
                <div class="button is-danger" @click="deleteCategory(category)">Delete</div>
            </div>
        </div>

        <h2 class="title is-2" v-show="categories.length === 0">Nothing here</h2>

    </div>
</template>

<style></style>

<script>

    export default {
        props: ['categories', 'editable', 'routeCategoriesStore'],
        data() {
            return {
            }
        },
        methods: {
            deleteCategory(catToDelete){
                this.$emit('delete-category', catToDelete);
            },
            editCategoryUrl(category){
                return route('categories.edit', {category: category});
            }
        },
        computed: {

        },
        mounted() {
        },
        components: {}
    }
</script>
