<template>

    <el-form :model="form" class="demo-form-inline">

        <el-form-item label="Name">
            <el-input v-model="form.name"> </el-input>
        </el-form-item>

        <el-form-item label="Description">

            <el-input v-model="form.description"> </el-input>
        </el-form-item>

        <el-form-item label="Parent Category">
            <el-select v-model="form.parent_id" placeholder="Select parent category" clearable>

                <el-option v-for="category in categories" :key="category.id" :label="category.name" :value="category.id"> </el-option>

            </el-select>
        </el-form-item>

        <el-form-item>
            <el-button @click="create">Create</el-button>
        </el-form-item>
    </el-form>


</template>

<style></style>

<script>

    //Components
    import CategoryForm from './CategoryForm.vue'

    //Helpers
    import Form from '../../../helpers/Form';


    export default {
        props: ['categories'],
        data() {
            return {
                form: new Form({
                    name: '',
                    description: '',
                    parent_id: '',
                }),
                category:{
                    name: '',
                    description: '',
                },
            }
        },
        methods: {
            create(){
                this.form.post(route('categories.store'))
                    .then(data => {
                        this.categories.push(data);
                    });
            }
        },
        computed: {},
        mounted() {
        },
        components: {
            CategoryForm
        }
    }
</script>
