<template>
    <div>

        <el-tabs v-model="activeTabName">
            <el-tab-pane label="General" name="general">

                <category-form :category-form="form" :categories="categories"> </category-form>

                <div class="field">
                    <label class="label"></label>
                    <div class="control">
                        <div class="button" :class="{'is-loading': form.busy}" @click="update">Update</div>
                    </div>

                </div>

            </el-tab-pane>


            <el-tab-pane label="Modifiers" name="modifiers">

                <el-row :gutter="20">
                    <el-col :span="18" style="padding:15px">
                        <modifiers-list v-if="modifiers.length" :modifiers="modifiers" :selected="selected" @deleted="removeModifier"> </modifiers-list>
                        <span v-else v-text="'Nothing here'"></span>
                    </el-col>
                    <el-col :span="6">
                        <create-category-modifier :category="category" @created="handleCategoryModifierCreated"> </create-category-modifier>
                    </el-col>
                </el-row>


            </el-tab-pane>
        </el-tabs>


    </div>
</template>

<style></style>

<script>

    //Components
    import CategoryForm from './CategoryForm.vue'
    import CreateCategoryModifier from '../modifiers/CreateCategoryModifier';
    import ModifiersList from '../modifiers/ModifiersList';

    //Helpers
    import Form from '../../../helpers/Form';
    import Selected from '../../../helpers/Editable'

    export default {
        props: ['category', 'categories'],
        data() {
            return {
                busy: false,
                activeTabName: 'general',
                form: new Form({
                    name: this.category.name,
                    description: this.category.description,
                    parent_id: this.category.parent_id,
                }),
                modifiers: [],
                selected: new Selected(),
            }
        },
        methods: {

            update(){
                this.form.put(route('categories.update', {category: this.category}))
                    .then(data => {
                        //Update category instance with new data
                        _.each(this.form.data(), (data, key) => {
                            this.category[key] = data;
                        });

                    });
            },
            removeModifier(modifierToRemove){
                this.modifiers = this.modifiers.filter(mod => {
                    return mod.id !== modifierToRemove.id;
                });
            },
            handleCategoryModifierCreated(modifier){
                this.modifiers.push(modifier);
            }
        },
        computed: {
            createModifierForCategoryUrl(){
                return route('categories.create_modifier', {category: this.category});
            }
        },
        mounted() {
            this.modifiers = this.category.modifiers;
        },
        components: {
            CategoryForm,
            CreateCategoryModifier,
            ModifiersList,
        }
    }
</script>
